In [ ]:
import numpy as np # calculation
import pandas as pd # Excel for Python
import datetime as dt # allow for date and time series manipulation
import seaborn as sns # a charting package
import matplotlib.pyplot as plt # the original Python chating package
from datetime import datetime, timedelta
#a `magic code` that allows ploting of charts within the notebook/
%matplotlib inline

In [ ]:
df=pd.read_csv('/content/Cohort base MAY 2021-made in JUNE  (1).csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178053 entries, 0 to 178052
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trainer_ID             178053 non-null  int64
 1   trainee_ID             178053 non-null  int64
 2   DATE(tran_date)        178053 non-null  object
 3   DATE(assign_date)      178053 non-null  object
 4   DATE(assign_end_date)  178053 non-null  object
 5   pack_id                178053 non-null  int64
 6   pack_price             178053 non-null  float64
 7   tran_flag              178053 non-null  object
 8   status                 178053 non-null  int64
 9   status_change          178053 non-null  int64
dtypes: float64(1), int64(5), object(4)
memory usage: 13.6+ MB

In [ ]:
df

        trainer_ID  trainee_ID DATE(tran_date)  ... tran_flag status  status_change
0             1545       30995      2017-04-01  ...         I      1              1
1             1537       28443      2017-04-01  ...         I      1              1
2              117       31054      2017-04-01  ...         I      1              1
3              562       32095      2017-04-01  ...         I      1              1
4              562       17351      2017-04-01  ...         R      1              1
...            ...         ...             ...  ...       ...    ...            ...
178048         118      101909      2021-06-07  ...         R      0              0
178049        2296      533479      2021-06-07  ...         R      0              0
178050        2731      972010      2021-06-07  ...         I      0              0
178051         118      256224      2021-06-07  ...         R      0              0
178052        2589     1177730      2021-06-26  ...         I      0              0

[178053 rows x 10 columns]

In [ ]:
df['DATE(tran_date)']=pd.to_datetime(df['DATE(tran_date)'])
df['DATE(tran_date)']=pd.to_datetime(df['DATE(tran_date)'],format='%d-%m-%Y')

In [ ]:
df

        trainer_ID  trainee_ID DATE(tran_date)  ... tran_flag status  status_change
0             1545       30995      2017-04-01  ...         I      1              1
1             1537       28443      2017-04-01  ...         I      1              1
2              117       31054      2017-04-01  ...         I      1              1
3              562       32095      2017-04-01  ...         I      1              1
4              562       17351      2017-04-01  ...         R      1              1
...            ...         ...             ...  ...       ...    ...            ...
178048         118      101909      2021-06-07  ...         R      0              0
178049        2296      533479      2021-06-07  ...         R      0              0
178050        2731      972010      2021-06-07  ...         I      0              0
178051         118      256224      2021-06-07  ...         R      0              0
178052        2589     1177730      2021-06-26  ...         I      0              0

[178053 rows x 10 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178053 entries, 0 to 178052
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trainer_ID             178053 non-null  int64
 1   trainee_ID             178053 non-null  int64
 2   DATE(tran_date)        178053 non-null  datetime64[ns]
 3   DATE(assign_date)      178053 non-null  object
 4   DATE(assign_end_date)  178053 non-null  object
 5   pack_id                178053 non-null  int64
 6   pack_price             178053 non-null  float64
 7   tran_flag              178053 non-null  object
 8   status                 178053 non-null  int64
 9   status_change          178053 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 13.6+ MB

In [ ]:
df.tail(15)

        trainer_ID  trainee_ID DATE(tran_date)  ... tran_flag status  status_change
178038        2595      728029      2021-06-07  ...         R      0              0
178039         103      440488      2021-06-07  ...         R      0              0
178040        2531      943771      2021-06-07  ...         I      0              0
178041        2366      441737      2021-06-07  ...         I      0              0
178042        2291      272405      2021-06-07  ...         R      0              0
178043        2418      824325      2021-06-07  ...         R      0              0
178044        2560     1143869      2021-06-07  ...         I      0              0
178045        2491     1368501      2021-06-07  ...         I      0              0
178046        2569      988909      2021-06-07  ...         R      0              0
178047        2131     1512900      2021-06-07  ...         I      0              0
178048         118      101909      2021-06-07  ...         R      0              0
178049        2296      533479      2021-06-07  ...         R      0              0
178050        2731      972010      2021-06-07  ...         I      0              0
178051         118      256224      2021-06-07  ...         R      0              0
178052        2589     1177730      2021-06-26  ...         I      0              0

[15 rows x 10 columns]

In [ ]:
df[df['trainee_ID']==99987]

        trainer_ID  trainee_ID DATE(tran_date)  ... tran_flag status  status_change
75956         2399       99987      2019-09-11  ...         I      1              0
84023         2399       99987      2019-12-03  ...         R      1              0
93420         2399       99987      2020-02-25  ...         R      1              0
102029        2399       99987      2020-06-01  ...         R      1              0
115294        2399       99987      2020-08-26  ...         R      1              0
131505        2399       99987      2020-11-17  ...         R      1              0
149901        2399       99987      2021-02-09  ...         R      1              0
169556        2399       99987      2021-05-05  ...         R      0              0

[8 rows x 10 columns]

In [ ]:
df['FirstTransactionDate'] = df.groupby('trainee_ID')['DATE(tran_date)'].transform('min')

In [ ]:
df.tail(15)

        trainer_ID  trainee_ID  ... status_change FirstTransactionDate
178038        2595      728029  ...             0           2020-11-22
178039         103      440488  ...             0           2020-01-22
178040        2531      943771  ...             0           2021-06-07
178041        2366      441737  ...             0           2021-06-07
178042        2291      272405  ...             0           2019-07-16
178043        2418      824325  ...             0           2020-12-08
178044        2560     1143869  ...             0           2021-06-07
178045        2491     1368501  ...             0           2021-06-07
178046        2569      988909  ...             0           2021-02-05
178047        2131     1512900  ...             0           2021-06-07
178048         118      101909  ...             0           2020-08-15
178049        2296      533479  ...             0           2020-05-07
178050        2731      972010  ...             0           2021-06-07
178051         118      256224  ...             0           2020-05-22
178052        2589     1177730  ...             0           2021-06-26

[15 rows x 11 columns]

In [ ]:
df['YearOfFt']=df['FirstTransactionDate'].dt.year

In [ ]:
df['MonthOfFt']=df['FirstTransactionDate'].dt.month_name()

In [ ]:
df['Diff_in_months']=(df['DATE(tran_date)'].dt.year - df['FirstTransactionDate'].dt.year)*12 + (df['DATE(tran_date)'].dt.month - df['FirstTransactionDate'].dt.month)

In [ ]:
df.tail(15)

        trainer_ID  trainee_ID  ... MonthOfFt Diff_in_months
178038        2595      728029  ...  November              7
178039         103      440488  ...   January             17
178040        2531      943771  ...      June              0
178041        2366      441737  ...      June              0
178042        2291      272405  ...      July             23
178043        2418      824325  ...  December              6
178044        2560     1143869  ...      June              0
178045        2491     1368501  ...      June              0
178046        2569      988909  ...  February              4
178047        2131     1512900  ...      June              0
178048         118      101909  ...    August             10
178049        2296      533479  ...       May             13
178050        2731      972010  ...      June              0
178051         118      256224  ...       May             13
178052        2589     1177730  ...      June              0

[15 rows x 14 columns]

In [ ]:
df.to_csv('Cohort_check----11.csv',index=False)

In [ ]:
df['Occurence'] = df.groupby('trainee_ID')['trainee_ID'].rank(method='first')

In [ ]:
df.tail(15)

        trainer_ID  trainee_ID  ... Diff_in_months Occurence
178038        2595      728029  ...              7       3.0
178039         103      440488  ...             17       2.0
178040        2531      943771  ...              0       1.0
178041        2366      441737  ...              0       1.0
178042        2291      272405  ...             23       5.0
178043        2418      824325  ...              6       3.0
178044        2560     1143869  ...              0       1.0
178045        2491     1368501  ...              0       1.0
178046        2569      988909  ...              4       2.0
178047        2131     1512900  ...              0       1.0
178048         118      101909  ...             10       2.0
178049        2296      533479  ...             13       4.0
178050        2731      972010  ...              0       1.0
178051         118      256224  ...             13       3.0
178052        2589     1177730  ...              0       1.0

[15 rows x 15 columns]

In [ ]:
df.to_csv('Cohort_check_final.csv',index=False)

In [ ]:
pivot = df.pivot_table(index=['YearOfFt','MonthOfFt'], columns=['Diff_in_months'],values=['pack_price'], aggfunc='sum')

In [ ]:
pivot

                     pack_price            ...
Diff_in_months               0         1   ...         49        50
YearOfFt MonthOfFt                         ...
2017     April      11542000.00   29000.0  ...  297109.46  101871.0
         August     14250501.00   62000.0  ...        NaN       NaN
         December   14634000.00   27000.0  ...        NaN       NaN
         July       14307300.00   41000.0  ...        NaN       NaN
         June       13457000.00   69500.0  ...        NaN       NaN
         May        12027000.00   62000.0  ...   64644.00       NaN
         November   15395600.00   51000.0  ...        NaN       NaN
         October    13481500.00   15500.0  ...        NaN       NaN
         September  14623134.28   45000.0  ...        NaN       NaN
2018     April      18022002.00   37000.0  ...        NaN       NaN
         August     19550800.00   32000.0  ...        NaN       NaN
         December   14590057.50   23000.0  ...        NaN       NaN
         February   15558000.00   58000.0  ...        NaN       NaN
         January    16132700.00    7000.0  ...        NaN       NaN
         July       18429100.00   33000.0  ...        NaN       NaN
         June       17976000.00  301000.0  ...        NaN       NaN
         March      17489500.00  138000.0  ...        NaN       NaN
         May        17964000.00    9000.0  ...        NaN       NaN
         November   12839550.00   88300.0  ...        NaN       NaN
         October    14367200.00   42000.0  ...        NaN       NaN
         September  16751306.00   62000.0  ...        NaN       NaN
2019     April      13451174.00   30000.0  ...        NaN       NaN
         August     20528520.50   27000.0  ...        NaN       NaN
         December   19666430.50   29000.0  ...        NaN       NaN
         February   13587969.00   27000.0  ...        NaN       NaN
         January    15576000.00   42770.0  ...        NaN       NaN
         July       21118146.00   30000.0  ...        NaN       NaN
         June       20155229.00   52000.0  ...        NaN       NaN
         March      14873669.00   32606.0  ...        NaN       NaN
         May        17039175.50   12000.0  ...        NaN       NaN
         November   17558570.00   15000.0  ...        NaN       NaN
         October    15659066.00   17000.0  ...        NaN       NaN
         September  19122014.00   56000.0  ...        NaN       NaN
2020     April      11040270.00   87155.0  ...        NaN       NaN
         August     35949201.00  111000.0  ...        NaN       NaN
         December   36097961.00  131000.0  ...        NaN       NaN
         February   17732813.00   12000.0  ...        NaN       NaN
         January    22321928.50   65000.0  ...        NaN       NaN
         July       31367773.50  125319.0  ...        NaN       NaN
         June       22836656.00   81401.0  ...        NaN       NaN
         March      13345393.00   42000.0  ...        NaN       NaN
         May        17191282.43  124294.0  ...        NaN       NaN
         November   32312337.50  102440.0  ...        NaN       NaN
         October    34137456.50   59500.0  ...        NaN       NaN
         September  37056579.00  120893.0  ...        NaN       NaN
2021     April      37572706.04   75501.0  ...        NaN       NaN
         February   35410673.00  113657.0  ...        NaN       NaN
         January    43205701.00  165500.0  ...        NaN       NaN
         June        9959024.87       NaN  ...        NaN       NaN
         March      39764688.65   77000.0  ...        NaN       NaN
         May        40599284.08       NaN  ...        NaN       NaN

[51 rows x 51 columns]

In [ ]:
months=['January', 'February','March','April','May','June','July','August','September','October','November','December']

df_final=pivot.reindex(months,level=1)

df_final.to_csv('test4.csv',index=['YearOfFt','MonthOfFt'])

In [ ]:
df_final

                     pack_price            ...
Diff_in_months               0         1   ...         49        50
YearOfFt MonthOfFt                         ...
2017     April      11542000.00   29000.0  ...  297109.46  101871.0
         May        12027000.00   62000.0  ...   64644.00       NaN
         June       13457000.00   69500.0  ...        NaN       NaN
         July       14307300.00   41000.0  ...        NaN       NaN
         August     14250501.00   62000.0  ...        NaN       NaN
         September  14623134.28   45000.0  ...        NaN       NaN
         October    13481500.00   15500.0  ...        NaN       NaN
         November   15395600.00   51000.0  ...        NaN       NaN
         December   14634000.00   27000.0  ...        NaN       NaN
2018     January    16132700.00    7000.0  ...        NaN       NaN
         February   15558000.00   58000.0  ...        NaN       NaN
         March      17489500.00  138000.0  ...        NaN       NaN
         April      18022002.00   37000.0  ...        NaN       NaN
         May        17964000.00    9000.0  ...        NaN       NaN
         June       17976000.00  301000.0  ...        NaN       NaN
         July       18429100.00   33000.0  ...        NaN       NaN
         August     19550800.00   32000.0  ...        NaN       NaN
         September  16751306.00   62000.0  ...        NaN       NaN
         October    14367200.00   42000.0  ...        NaN       NaN
         November   12839550.00   88300.0  ...        NaN       NaN
         December   14590057.50   23000.0  ...        NaN       NaN
2019     January    15576000.00   42770.0  ...        NaN       NaN
         February   13587969.00   27000.0  ...        NaN       NaN
         March      14873669.00   32606.0  ...        NaN       NaN
         April      13451174.00   30000.0  ...        NaN       NaN
         May        17039175.50   12000.0  ...        NaN       NaN
         June       20155229.00   52000.0  ...        NaN       NaN
         July       21118146.00   30000.0  ...        NaN       NaN
         August     20528520.50   27000.0  ...        NaN       NaN
         September  19122014.00   56000.0  ...        NaN       NaN
         October    15659066.00   17000.0  ...        NaN       NaN
         November   17558570.00   15000.0  ...        NaN       NaN
         December   19666430.50   29000.0  ...        NaN       NaN
2020     January    22321928.50   65000.0  ...        NaN       NaN
         February   17732813.00   12000.0  ...        NaN       NaN
         March      13345393.00   42000.0  ...        NaN       NaN
         April      11040270.00   87155.0  ...        NaN       NaN
         May        17191282.43  124294.0  ...        NaN       NaN
         June       22836656.00   81401.0  ...        NaN       NaN
         July       31367773.50  125319.0  ...        NaN       NaN
         August     35949201.00  111000.0  ...        NaN       NaN
         September  37056579.00  120893.0  ...        NaN       NaN
         October    34137456.50   59500.0  ...        NaN       NaN
         November   32312337.50  102440.0  ...        NaN       NaN
         December   36097961.00  131000.0  ...        NaN       NaN
2021     January    43205701.00  165500.0  ...        NaN       NaN
         February   35410673.00  113657.0  ...        NaN       NaN
         March      39764688.65   77000.0  ...        NaN       NaN
         April      37572706.04   75501.0  ...        NaN       NaN
         May        40599284.08       NaN  ...        NaN       NaN
         June        9959024.87       NaN  ...        NaN       NaN

[51 rows x 51 columns]

In [ ]:
df_final=df_final.reset_index()

In [ ]:
df_final

               YearOfFt  MonthOfFt   pack_price  ...
Diff_in_months                                0  ...         48         49        50
0                  2017      April  11542000.00  ...  212570.81  297109.46  101871.0
1                  2017        May  12027000.00  ...  300540.44   64644.00       NaN
2                  2017       June  13457000.00  ...   82643.00        NaN       NaN
3                  2017       July  14307300.00  ...        NaN        NaN       NaN
4                  2017     August  14250501.00  ...        NaN        NaN       NaN
5                  2017  September  14623134.28  ...        NaN        NaN       NaN
6                  2017    October  13481500.00  ...        NaN        NaN       NaN
7                  2017   November  15395600.00  ...        NaN        NaN       NaN
8                  2017   December  14634000.00  ...        NaN        NaN       NaN
9                  2018    January  16132700.00  ...        NaN        NaN       NaN
10                 2018   February  15558000.00  ...        NaN        NaN       NaN
11                 2018      March  17489500.00  ...        NaN        NaN       NaN
12                 2018      April  18022002.00  ...        NaN        NaN       NaN
13                 2018        May  17964000.00  ...        NaN        NaN       NaN
14                 2018       June  17976000.00  ...        NaN        NaN       NaN
15                 2018       July  18429100.00  ...        NaN        NaN       NaN
16                 2018     August  19550800.00  ...        NaN        NaN       NaN
17                 2018  September  16751306.00  ...        NaN        NaN       NaN
18                 2018    October  14367200.00  ...        NaN        NaN       NaN
19                 2018   November  12839550.00  ...        NaN        NaN       NaN
20                 2018   December  14590057.50  ...        NaN        NaN       NaN
21                 2019    January  15576000.00  ...        NaN        NaN       NaN
22                 2019   February  13587969.00  ...        NaN        NaN       NaN
23                 2019      March  14873669.00  ...        NaN        NaN       NaN
24                 2019      April  13451174.00  ...        NaN        NaN       NaN
25                 2019        May  17039175.50  ...        NaN        NaN       NaN
26                 2019       June  20155229.00  ...        NaN        NaN       NaN
27                 2019       July  21118146.00  ...        NaN        NaN       NaN
28                 2019     August  20528520.50  ...        NaN        NaN       NaN
29                 2019  September  19122014.00  ...        NaN        NaN       NaN
30                 2019    October  15659066.00  ...        NaN        NaN       NaN
31                 2019   November  17558570.00  ...        NaN        NaN       NaN
32                 2019   December  19666430.50  ...        NaN        NaN       NaN
33                 2020    January  22321928.50  ...        NaN        NaN       NaN
34                 2020   February  17732813.00  ...        NaN        NaN       NaN
35                 2020      March  13345393.00  ...        NaN        NaN       NaN
36                 2020      April  11040270.00  ...        NaN        NaN       NaN
37                 2020        May  17191282.43  ...        NaN        NaN       NaN
38                 2020       June  22836656.00  ...        NaN        NaN       NaN
39                 2020       July  31367773.50  ...        NaN        NaN       NaN
40                 2020     August  35949201.00  ...        NaN        NaN       NaN
41                 2020  September  37056579.00  ...        NaN        NaN       NaN
42                 2020    October  34137456.50  ...        NaN        NaN       NaN
43                 2020   November  32312337.50  ...        NaN        NaN       NaN
44                 2020   December  36097961.00  ...        NaN        NaN       NaN
45                 2021    January  43205701.00  ...        NaN        NaN       NaN
46                 2021   February  35410673.00  ...        NaN        NaN       NaN
47                 2021      March  39764688.65  ...        NaN        NaN       NaN
48                 2021      April  37572706.04  ...        NaN        NaN       NaN
49                 2021        May  40599284.08  ...        NaN        NaN       NaN
50                 2021       June   9959024.87  ...        NaN        NaN       NaN

[51 rows x 53 columns]

In [ ]:
columns_1=[]
columns_1.append('Year')
columns_1.append('Month')
columns_1.append('Total')

max_value=df['Diff_in_months'].max()
print(columns_1,end='\n')
print(max_value)

['Year', 'Month', 'Total']
50

In [ ]:
for i in range(1, max_value+1):
  columns_1.append("M"+str(i))
columns_1

['Year',
 'Month',
 'Total',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'M10',
 'M11',
 'M12',
 'M13',
 'M14',
 'M15',
 'M16',
 'M17',
 'M18',
 'M19',
 'M20',
 'M21',
 'M22',
 'M23',
 'M24',
 'M25',
 'M26',
 'M27',
 'M28',
 'M29',
 'M30',
 'M31',
 'M32',
 'M33',
 'M34',
 'M35',
 'M36',
 'M37',
 'M38',
 'M39',
 'M40',
 'M41',
 'M42',
 'M43',
 'M44',
 'M45',
 'M46',
 'M47',
 'M48',
 'M49',
 'M50']

In [ ]:
df_final.columns=[col for col in columns_1]
df_final

    Year      Month        Total  ...        M48        M49       M50
0   2017      April  11542000.00  ...  212570.81  297109.46  101871.0
1   2017        May  12027000.00  ...  300540.44   64644.00       NaN
2   2017       June  13457000.00  ...   82643.00        NaN       NaN
3   2017       July  14307300.00  ...        NaN        NaN       NaN
4   2017     August  14250501.00  ...        NaN        NaN       NaN
5   2017  September  14623134.28  ...        NaN        NaN       NaN
6   2017    October  13481500.00  ...        NaN        NaN       NaN
7   2017   November  15395600.00  ...        NaN        NaN       NaN
8   2017   December  14634000.00  ...        NaN        NaN       NaN
9   2018    January  16132700.00  ...        NaN        NaN       NaN
10  2018   February  15558000.00  ...        NaN        NaN       NaN
11  2018      March  17489500.00  ...        NaN        NaN       NaN
12  2018      April  18022002.00  ...        NaN        NaN       NaN
13  2018        May  17964000.00  ...        NaN        NaN       NaN
14  2018       June  17976000.00  ...        NaN        NaN       NaN
15  2018       July  18429100.00  ...        NaN        NaN       NaN
16  2018     August  19550800.00  ...        NaN        NaN       NaN
17  2018  September  16751306.00  ...        NaN        NaN       NaN
18  2018    October  14367200.00  ...        NaN        NaN       NaN
19  2018   November  12839550.00  ...        NaN        NaN       NaN
20  2018   December  14590057.50  ...        NaN        NaN       NaN
21  2019    January  15576000.00  ...        NaN        NaN       NaN
22  2019   February  13587969.00  ...        NaN        NaN       NaN
23  2019      March  14873669.00  ...        NaN        NaN       NaN
24  2019      April  13451174.00  ...        NaN        NaN       NaN
25  2019        May  17039175.50  ...        NaN        NaN       NaN
26  2019       June  20155229.00  ...        NaN        NaN       NaN
27  2019       July  21118146.00  ...        NaN        NaN       NaN
28  2019     August  20528520.50  ...        NaN        NaN       NaN
29  2019  September  19122014.00  ...        NaN        NaN       NaN
30  2019    October  15659066.00  ...        NaN        NaN       NaN
31  2019   November  17558570.00  ...        NaN        NaN       NaN
32  2019   December  19666430.50  ...        NaN        NaN       NaN
33  2020    January  22321928.50  ...        NaN        NaN       NaN
34  2020   February  17732813.00  ...        NaN        NaN       NaN
35  2020      March  13345393.00  ...        NaN        NaN       NaN
36  2020      April  11040270.00  ...        NaN        NaN       NaN
37  2020        May  17191282.43  ...        NaN        NaN       NaN
38  2020       June  22836656.00  ...        NaN        NaN       NaN
39  2020       July  31367773.50  ...        NaN        NaN       NaN
40  2020     August  35949201.00  ...        NaN        NaN       NaN
41  2020  September  37056579.00  ...        NaN        NaN       NaN
42  2020    October  34137456.50  ...        NaN        NaN       NaN
43  2020   November  32312337.50  ...        NaN        NaN       NaN
44  2020   December  36097961.00  ...        NaN        NaN       NaN
45  2021    January  43205701.00  ...        NaN        NaN       NaN
46  2021   February  35410673.00  ...        NaN        NaN       NaN
47  2021      March  39764688.65  ...        NaN        NaN       NaN
48  2021      April  37572706.04  ...        NaN        NaN       NaN
49  2021        May  40599284.08  ...        NaN        NaN       NaN
50  2021       June   9959024.87  ...        NaN        NaN       NaN

[51 rows x 53 columns]

In [ ]:
df_final=pd.DataFrame(df_final)
df_final

    Year      Month        Total  ...        M48        M49       M50
0   2017      April  11542000.00  ...  212570.81  297109.46  101871.0
1   2017        May  12027000.00  ...  300540.44   64644.00       NaN
2   2017       June  13457000.00  ...   82643.00        NaN       NaN
3   2017       July  14307300.00  ...        NaN        NaN       NaN
4   2017     August  14250501.00  ...        NaN        NaN       NaN
5   2017  September  14623134.28  ...        NaN        NaN       NaN
6   2017    October  13481500.00  ...        NaN        NaN       NaN
7   2017   November  15395600.00  ...        NaN        NaN       NaN
8   2017   December  14634000.00  ...        NaN        NaN       NaN
9   2018    January  16132700.00  ...        NaN        NaN       NaN
10  2018   February  15558000.00  ...        NaN        NaN       NaN
11  2018      March  17489500.00  ...        NaN        NaN       NaN
12  2018      April  18022002.00  ...        NaN        NaN       NaN
13  2018        May  17964000.00  ...        NaN        NaN       NaN
14  2018       June  17976000.00  ...        NaN        NaN       NaN
15  2018       July  18429100.00  ...        NaN        NaN       NaN
16  2018     August  19550800.00  ...        NaN        NaN       NaN
17  2018  September  16751306.00  ...        NaN        NaN       NaN
18  2018    October  14367200.00  ...        NaN        NaN       NaN
19  2018   November  12839550.00  ...        NaN        NaN       NaN
20  2018   December  14590057.50  ...        NaN        NaN       NaN
21  2019    January  15576000.00  ...        NaN        NaN       NaN
22  2019   February  13587969.00  ...        NaN        NaN       NaN
23  2019      March  14873669.00  ...        NaN        NaN       NaN
24  2019      April  13451174.00  ...        NaN        NaN       NaN
25  2019        May  17039175.50  ...        NaN        NaN       NaN
26  2019       June  20155229.00  ...        NaN        NaN       NaN
27  2019       July  21118146.00  ...        NaN        NaN       NaN
28  2019     August  20528520.50  ...        NaN        NaN       NaN
29  2019  September  19122014.00  ...        NaN        NaN       NaN
30  2019    October  15659066.00  ...        NaN        NaN       NaN
31  2019   November  17558570.00  ...        NaN        NaN       NaN
32  2019   December  19666430.50  ...        NaN        NaN       NaN
33  2020    January  22321928.50  ...        NaN        NaN       NaN
34  2020   February  17732813.00  ...        NaN        NaN       NaN
35  2020      March  13345393.00  ...        NaN        NaN       NaN
36  2020      April  11040270.00  ...        NaN        NaN       NaN
37  2020        May  17191282.43  ...        NaN        NaN       NaN
38  2020       June  22836656.00  ...        NaN        NaN       NaN
39  2020       July  31367773.50  ...        NaN        NaN       NaN
40  2020     August  35949201.00  ...        NaN        NaN       NaN
41  2020  September  37056579.00  ...        NaN        NaN       NaN
42  2020    October  34137456.50  ...        NaN        NaN       NaN
43  2020   November  32312337.50  ...        NaN        NaN       NaN
44  2020   December  36097961.00  ...        NaN        NaN       NaN
45  2021    January  43205701.00  ...        NaN        NaN       NaN
46  2021   February  35410673.00  ...        NaN        NaN       NaN
47  2021      March  39764688.65  ...        NaN        NaN       NaN
48  2021      April  37572706.04  ...        NaN        NaN       NaN
49  2021        May  40599284.08  ...        NaN        NaN       NaN
50  2021       June   9959024.87  ...        NaN        NaN       NaN

[51 rows x 53 columns]

In [ ]:
df1=df[df['Occurence']==1]

In [ ]:
df1

        trainer_ID  trainee_ID  ... Diff_in_months Occurence
0             1545       30995  ...              0       1.0
1             1537       28443  ...              0       1.0
2              117       31054  ...              0       1.0
3              562       32095  ...              0       1.0
4              562       17351  ...              0       1.0
...            ...         ...  ...            ...       ...
178044        2560     1143869  ...              0       1.0
178045        2491     1368501  ...              0       1.0
178047        2131     1512900  ...              0       1.0
178050        2731      972010  ...              0       1.0
178052        2589     1177730  ...              0       1.0

[113801 rows x 15 columns]

In [ ]:
pivot2 = df1.pivot_table(index=['YearOfFt','MonthOfFt'], columns=['Diff_in_months'],values=['pack_price'], aggfunc='sum')
pivot2=pivot2.reindex(months,level=1)
pivot2=pivot2.reset_index()

In [ ]:
pivot2

               YearOfFt  MonthOfFt   pack_price
Diff_in_months                                0
0                  2017      April  11498000.00
1                  2017        May  12015000.00
2                  2017       June  13443000.00
3                  2017       July  14159300.00
4                  2017     August  14199501.00
5                  2017  September  14569134.28
6                  2017    October  13395500.00
7                  2017   November  15182600.00
8                  2017   December  14598000.00
9                  2018    January  16125700.00
10                 2018   February  15319000.00
11                 2018      March  17155500.00
12                 2018      April  17943002.00
13                 2018        May  17841000.00
14                 2018       June  17967000.00
15                 2018       July  18406100.00
16                 2018     August  19493100.00
17                 2018  September  16691304.00
18                 2018    October  14344200.00
19                 2018   November  12839550.00
20                 2018   December  14563057.50
21                 2019    January  15545000.00
22                 2019   February  13580969.00
23                 2019      March  14857669.00
24                 2019      April  13421374.00
25                 2019        May  17018675.50
26                 2019       June  20104869.00
27                 2019       July  21058146.00
28                 2019     August  20513520.50
29                 2019  September  19090014.00
30                 2019    October  15630066.00
31                 2019   November  17534570.00
32                 2019   December  19646217.50
33                 2020    January  22306928.50
34                 2020   February  17596813.00
35                 2020      March  13290393.00
36                 2020      April  10966269.00
37                 2020        May  17061856.43
38                 2020       June  22758102.00
39                 2020       July  31208973.50
40                 2020     August  35861201.00
41                 2020  September  36814927.00
42                 2020    October  34041063.50
43                 2020   November  32156444.50
44                 2020   December  35907249.00
45                 2021    January  43059701.00
46                 2021   February  35313347.00
47                 2021      March  39700640.65
48                 2021      April  37499706.04
49                 2021        May  40494284.08
50                 2021       June   9959024.87

In [ ]:
columns=['Year','Month','Fresh']

In [ ]:
pivot2.columns=[col for col in columns]

In [ ]:
pivot2

    Year      Month        Fresh
0   2017      April  11498000.00
1   2017        May  12015000.00
2   2017       June  13443000.00
3   2017       July  14159300.00
4   2017     August  14199501.00
5   2017  September  14569134.28
6   2017    October  13395500.00
7   2017   November  15182600.00
8   2017   December  14598000.00
9   2018    January  16125700.00
10  2018   February  15319000.00
11  2018      March  17155500.00
12  2018      April  17943002.00
13  2018        May  17841000.00
14  2018       June  17967000.00
15  2018       July  18406100.00
16  2018     August  19493100.00
17  2018  September  16691304.00
18  2018    October  14344200.00
19  2018   November  12839550.00
20  2018   December  14563057.50
21  2019    January  15545000.00
22  2019   February  13580969.00
23  2019      March  14857669.00
24  2019      April  13421374.00
25  2019        May  17018675.50
26  2019       June  20104869.00
27  2019       July  21058146.00
28  2019     August  20513520.50
29  2019  September  19090014.00
30  2019    October  15630066.00
31  2019   November  17534570.00
32  2019   December  19646217.50
33  2020    January  22306928.50
34  2020   February  17596813.00
35  2020      March  13290393.00
36  2020      April  10966269.00
37  2020        May  17061856.43
38  2020       June  22758102.00
39  2020       July  31208973.50
40  2020     August  35861201.00
41  2020  September  36814927.00
42  2020    October  34041063.50
43  2020   November  32156444.50
44  2020   December  35907249.00
45  2021    January  43059701.00
46  2021   February  35313347.00
47  2021      March  39700640.65
48  2021      April  37499706.04
49  2021        May  40494284.08
50  2021       June   9959024.87

In [ ]:
pivot2=pd.DataFrame(pivot2)

In [ ]:
pivot2

    Year      Month        Fresh
0   2017      April  11498000.00
1   2017        May  12015000.00
2   2017       June  13443000.00
3   2017       July  14159300.00
4   2017     August  14199501.00
5   2017  September  14569134.28
6   2017    October  13395500.00
7   2017   November  15182600.00
8   2017   December  14598000.00
9   2018    January  16125700.00
10  2018   February  15319000.00
11  2018      March  17155500.00
12  2018      April  17943002.00
13  2018        May  17841000.00
14  2018       June  17967000.00
15  2018       July  18406100.00
16  2018     August  19493100.00
17  2018  September  16691304.00
18  2018    October  14344200.00
19  2018   November  12839550.00
20  2018   December  14563057.50
21  2019    January  15545000.00
22  2019   February  13580969.00
23  2019      March  14857669.00
24  2019      April  13421374.00
25  2019        May  17018675.50
26  2019       June  20104869.00
27  2019       July  21058146.00
28  2019     August  20513520.50
29  2019  September  19090014.00
30  2019    October  15630066.00
31  2019   November  17534570.00
32  2019   December  19646217.50
33  2020    January  22306928.50
34  2020   February  17596813.00
35  2020      March  13290393.00
36  2020      April  10966269.00
37  2020        May  17061856.43
38  2020       June  22758102.00
39  2020       July  31208973.50
40  2020     August  35861201.00
41  2020  September  36814927.00
42  2020    October  34041063.50
43  2020   November  32156444.50
44  2020   December  35907249.00
45  2021    January  43059701.00
46  2021   February  35313347.00
47  2021      March  39700640.65
48  2021      April  37499706.04
49  2021        May  40494284.08
50  2021       June   9959024.87

In [ ]:
res=pivot2['Fresh'].tolist()

In [ ]:
res

[11498000.0,
 12015000.0,
 13443000.0,
 14159300.0,
 14199501.0,
 14569134.28,
 13395500.0,
 15182600.0,
 14598000.0,
 16125700.0,
 15319000.0,
 17155500.0,
 17943002.0,
 17841000.0,
 17967000.0,
 18406100.0,
 19493100.0,
 16691304.0,
 14344200.0,
 12839550.0,
 14563057.5,
 15545000.0,
 13580969.0,
 14857669.0,
 13421374.0,
 17018675.5,
 20104869.0,
 21058146.0,
 20513520.5,
 19090014.0,
 15630066.0,
 17534570.0,
 19646217.5,
 22306928.5,
 17596813.0,
 13290393.0,
 10966269.0,
 17061856.43,
 22758102.0,
 31208973.5,
 35861201.0,
 36814927.0,
 34041063.5,
 32156444.5,
 35907249.0,
 43059701.0,
 35313347.0,
 39700640.64999997,
 37499706.03999998,
 40494284.07999999,
 9959024.869999995]

In [ ]:
df_final.insert(loc=3, column='Fresh', value=res)

In [ ]:
df_final

    Year      Month        Total  ...        M48        M49       M50
0   2017      April  11542000.00  ...  212570.81  297109.46  101871.0
1   2017        May  12027000.00  ...  300540.44   64644.00       NaN
2   2017       June  13457000.00  ...   82643.00        NaN       NaN
3   2017       July  14307300.00  ...        NaN        NaN       NaN
4   2017     August  14250501.00  ...        NaN        NaN       NaN
5   2017  September  14623134.28  ...        NaN        NaN       NaN
6   2017    October  13481500.00  ...        NaN        NaN       NaN
7   2017   November  15395600.00  ...        NaN        NaN       NaN
8   2017   December  14634000.00  ...        NaN        NaN       NaN
9   2018    January  16132700.00  ...        NaN        NaN       NaN
10  2018   February  15558000.00  ...        NaN        NaN       NaN
11  2018      March  17489500.00  ...        NaN        NaN       NaN
12  2018      April  18022002.00  ...        NaN        NaN       NaN
13  2018        May  17964000.00  ...        NaN        NaN       NaN
14  2018       June  17976000.00  ...        NaN        NaN       NaN
15  2018       July  18429100.00  ...        NaN        NaN       NaN
16  2018     August  19550800.00  ...        NaN        NaN       NaN
17  2018  September  16751306.00  ...        NaN        NaN       NaN
18  2018    October  14367200.00  ...        NaN        NaN       NaN
19  2018   November  12839550.00  ...        NaN        NaN       NaN
20  2018   December  14590057.50  ...        NaN        NaN       NaN
21  2019    January  15576000.00  ...        NaN        NaN       NaN
22  2019   February  13587969.00  ...        NaN        NaN       NaN
23  2019      March  14873669.00  ...        NaN        NaN       NaN
24  2019      April  13451174.00  ...        NaN        NaN       NaN
25  2019        May  17039175.50  ...        NaN        NaN       NaN
26  2019       June  20155229.00  ...        NaN        NaN       NaN
27  2019       July  21118146.00  ...        NaN        NaN       NaN
28  2019     August  20528520.50  ...        NaN        NaN       NaN
29  2019  September  19122014.00  ...        NaN        NaN       NaN
30  2019    October  15659066.00  ...        NaN        NaN       NaN
31  2019   November  17558570.00  ...        NaN        NaN       NaN
32  2019   December  19666430.50  ...        NaN        NaN       NaN
33  2020    January  22321928.50  ...        NaN        NaN       NaN
34  2020   February  17732813.00  ...        NaN        NaN       NaN
35  2020      March  13345393.00  ...        NaN        NaN       NaN
36  2020      April  11040270.00  ...        NaN        NaN       NaN
37  2020        May  17191282.43  ...        NaN        NaN       NaN
38  2020       June  22836656.00  ...        NaN        NaN       NaN
39  2020       July  31367773.50  ...        NaN        NaN       NaN
40  2020     August  35949201.00  ...        NaN        NaN       NaN
41  2020  September  37056579.00  ...        NaN        NaN       NaN
42  2020    October  34137456.50  ...        NaN        NaN       NaN
43  2020   November  32312337.50  ...        NaN        NaN       NaN
44  2020   December  36097961.00  ...        NaN        NaN       NaN
45  2021    January  43205701.00  ...        NaN        NaN       NaN
46  2021   February  35410673.00  ...        NaN        NaN       NaN
47  2021      March  39764688.65  ...        NaN        NaN       NaN
48  2021      April  37572706.04  ...        NaN        NaN       NaN
49  2021        May  40599284.08  ...        NaN        NaN       NaN
50  2021       June   9959024.87  ...        NaN        NaN       NaN

[51 rows x 54 columns]

In [ ]:
df_final.insert(loc=4, column='M0', value=(df_final['Total']-df_final['Fresh']))

In [ ]:
df_final

    Year      Month        Total  ...        M48        M49       M50
0   2017      April  11542000.00  ...  212570.81  297109.46  101871.0
1   2017        May  12027000.00  ...  300540.44   64644.00       NaN
2   2017       June  13457000.00  ...   82643.00        NaN       NaN
3   2017       July  14307300.00  ...        NaN        NaN       NaN
4   2017     August  14250501.00  ...        NaN        NaN       NaN
5   2017  September  14623134.28  ...        NaN        NaN       NaN
6   2017    October  13481500.00  ...        NaN        NaN       NaN
7   2017   November  15395600.00  ...        NaN        NaN       NaN
8   2017   December  14634000.00  ...        NaN        NaN       NaN
9   2018    January  16132700.00  ...        NaN        NaN       NaN
10  2018   February  15558000.00  ...        NaN        NaN       NaN
11  2018      March  17489500.00  ...        NaN        NaN       NaN
12  2018      April  18022002.00  ...        NaN        NaN       NaN
13  2018        May  17964000.00  ...        NaN        NaN       NaN
14  2018       June  17976000.00  ...        NaN        NaN       NaN
15  2018       July  18429100.00  ...        NaN        NaN       NaN
16  2018     August  19550800.00  ...        NaN        NaN       NaN
17  2018  September  16751306.00  ...        NaN        NaN       NaN
18  2018    October  14367200.00  ...        NaN        NaN       NaN
19  2018   November  12839550.00  ...        NaN        NaN       NaN
20  2018   December  14590057.50  ...        NaN        NaN       NaN
21  2019    January  15576000.00  ...        NaN        NaN       NaN
22  2019   February  13587969.00  ...        NaN        NaN       NaN
23  2019      March  14873669.00  ...        NaN        NaN       NaN
24  2019      April  13451174.00  ...        NaN        NaN       NaN
25  2019        May  17039175.50  ...        NaN        NaN       NaN
26  2019       June  20155229.00  ...        NaN        NaN       NaN
27  2019       July  21118146.00  ...        NaN        NaN       NaN
28  2019     August  20528520.50  ...        NaN        NaN       NaN
29  2019  September  19122014.00  ...        NaN        NaN       NaN
30  2019    October  15659066.00  ...        NaN        NaN       NaN
31  2019   November  17558570.00  ...        NaN        NaN       NaN
32  2019   December  19666430.50  ...        NaN        NaN       NaN
33  2020    January  22321928.50  ...        NaN        NaN       NaN
34  2020   February  17732813.00  ...        NaN        NaN       NaN
35  2020      March  13345393.00  ...        NaN        NaN       NaN
36  2020      April  11040270.00  ...        NaN        NaN       NaN
37  2020        May  17191282.43  ...        NaN        NaN       NaN
38  2020       June  22836656.00  ...        NaN        NaN       NaN
39  2020       July  31367773.50  ...        NaN        NaN       NaN
40  2020     August  35949201.00  ...        NaN        NaN       NaN
41  2020  September  37056579.00  ...        NaN        NaN       NaN
42  2020    October  34137456.50  ...        NaN        NaN       NaN
43  2020   November  32312337.50  ...        NaN        NaN       NaN
44  2020   December  36097961.00  ...        NaN        NaN       NaN
45  2021    January  43205701.00  ...        NaN        NaN       NaN
46  2021   February  35410673.00  ...        NaN        NaN       NaN
47  2021      March  39764688.65  ...        NaN        NaN       NaN
48  2021      April  37572706.04  ...        NaN        NaN       NaN
49  2021        May  40599284.08  ...        NaN        NaN       NaN
50  2021       June   9959024.87  ...        NaN        NaN       NaN

[51 rows x 55 columns]

In [ ]:
df_final.to_csv('Revenue_cohort_check_3.csv',index=False)

# Transaction Cohort

In [ ]:
pivot_tran = df.pivot_table(index=['YearOfFt','MonthOfFt'], columns=['Diff_in_months'],values=['trainee_ID'], aggfunc='count')
pivot_tran

                   trainee_ID                      ...
Diff_in_months             0     1      2      3   ...    47    48    49   50
YearOfFt MonthOfFt                                 ...
2017     April         1378.0   2.0   70.0  104.0  ...  25.0  21.0  25.0  5.0
         August        1634.0   6.0   75.0  116.0  ...   NaN   NaN   NaN  NaN
         December      1810.0   3.0   54.0  175.0  ...   NaN   NaN   NaN  NaN
         July          1618.0   5.0   73.0  181.0  ...   3.0   NaN   NaN  NaN
         June          1681.0   7.0   50.0  170.0  ...  36.0   8.0   NaN  NaN
         May           1459.0   6.0   38.0  130.0  ...  23.0  25.0   7.0  NaN
         November      1810.0   5.0   74.0  156.0  ...   NaN   NaN   NaN  NaN
         October       1567.0   2.0  136.0  116.0  ...   NaN   NaN   NaN  NaN
         September     1677.0   5.0   61.0  153.0  ...   NaN   NaN   NaN  NaN
2018     April         2213.0   5.0   91.0  233.0  ...   NaN   NaN   NaN  NaN
         August        2128.0   3.0  112.0  188.0  ...   NaN   NaN   NaN  NaN
         December      1677.0   3.0   41.0  121.0  ...   NaN   NaN   NaN  NaN
         February      1858.0   6.0   74.0  155.0  ...   NaN   NaN   NaN  NaN
         January       1920.0   1.0  103.0  187.0  ...   NaN   NaN   NaN  NaN
         July          2207.0   3.0  123.0  186.0  ...   NaN   NaN   NaN  NaN
         June          2119.0  35.0  110.0  214.0  ...   NaN   NaN   NaN  NaN
         March         2129.0  14.0   80.0  186.0  ...   NaN   NaN   NaN  NaN
         May           2106.0   1.0  157.0  146.0  ...   NaN   NaN   NaN  NaN
         November      1417.0   9.0   40.0  132.0  ...   NaN   NaN   NaN  NaN
         October       1575.0   4.0   70.0  131.0  ...   NaN   NaN   NaN  NaN
         September     1835.0   6.0   65.0  172.0  ...   NaN   NaN   NaN  NaN
2019     April         1444.0   3.0   36.0  145.0  ...   NaN   NaN   NaN  NaN
         August        2173.0   3.0   58.0  181.0  ...   NaN   NaN   NaN  NaN
         December      2131.0   2.0   41.0  150.0  ...   NaN   NaN   NaN  NaN
         February      1475.0   3.0   55.0  118.0  ...   NaN   NaN   NaN  NaN
         January       1655.0   4.0   34.0  172.0  ...   NaN   NaN   NaN  NaN
         July          2267.0   3.0   62.0  214.0  ...   NaN   NaN   NaN  NaN
         June          2116.0   4.0   40.0  190.0  ...   NaN   NaN   NaN  NaN
         March         1634.0   4.0   54.0  126.0  ...   NaN   NaN   NaN  NaN
         May           1821.0   1.0   26.0  222.0  ...   NaN   NaN   NaN  NaN
         November      1800.0   2.0   35.0  176.0  ...   NaN   NaN   NaN  NaN
         October       1570.0   1.0   25.0  131.0  ...   NaN   NaN   NaN  NaN
         September     1954.0   5.0   54.0  164.0  ...   NaN   NaN   NaN  NaN
2020     April         1219.0   9.0   10.0  125.0  ...   NaN   NaN   NaN  NaN
         August        3658.0   9.0  304.0  453.0  ...   NaN   NaN   NaN  NaN
         December      3854.0  11.0  195.0  392.0  ...   NaN   NaN   NaN  NaN
         February      1842.0   2.0    9.0  146.0  ...   NaN   NaN   NaN  NaN
         January       2303.0   6.0   18.0  163.0  ...   NaN   NaN   NaN  NaN
         July          3191.0   9.0  143.0  463.0  ...   NaN   NaN   NaN  NaN
         June          2372.0  10.0   80.0  378.0  ...   NaN   NaN   NaN  NaN
         March         1407.0   4.0    8.0  160.0  ...   NaN   NaN   NaN  NaN
         May           1782.0  16.0   38.0  284.0  ...   NaN   NaN   NaN  NaN
         November      3382.0   9.0   65.0  399.0  ...   NaN   NaN   NaN  NaN
         October       3509.0   5.0  266.0  329.0  ...   NaN   NaN   NaN  NaN
         September     3722.0   9.0  272.0  382.0  ...   NaN   NaN   NaN  NaN
2021     April         4095.0   9.0    NaN    NaN  ...   NaN   NaN   NaN  NaN
         February      3605.0  10.0  139.0  445.0  ...   NaN   NaN   NaN  NaN
         January       4418.0  15.0  179.0  459.0  ...   NaN   NaN   NaN  NaN
         June          1050.0   NaN    NaN    NaN  ...   NaN   NaN   NaN  NaN
         March         4197.0   9.0  260.0   71.0  ...   NaN   NaN   NaN  NaN
         May           4707.0   NaN    NaN    NaN  ...   NaN   NaN   NaN  NaN

[51 rows x 51 columns]

In [ ]:
months=['January', 'February','March','April','May','June','July','August','September','October','November','December']

df_final_tran=pivot_tran.reindex(months,level=1)

df_final_tran=df_final_tran.reset_index()
df_final_tran

               YearOfFt  MonthOfFt trainee_ID        ...
Diff_in_months                              0     1  ...    47    48    49   50
0                  2017      April     1378.0   2.0  ...  25.0  21.0  25.0  5.0
1                  2017        May     1459.0   6.0  ...  23.0  25.0   7.0  NaN
2                  2017       June     1681.0   7.0  ...  36.0   8.0   NaN  NaN
3                  2017       July     1618.0   5.0  ...   3.0   NaN   NaN  NaN
4                  2017     August     1634.0   6.0  ...   NaN   NaN   NaN  NaN
5                  2017  September     1677.0   5.0  ...   NaN   NaN   NaN  NaN
6                  2017    October     1567.0   2.0  ...   NaN   NaN   NaN  NaN
7                  2017   November     1810.0   5.0  ...   NaN   NaN   NaN  NaN
8                  2017   December     1810.0   3.0  ...   NaN   NaN   NaN  NaN
9                  2018    January     1920.0   1.0  ...   NaN   NaN   NaN  NaN
10                 2018   February     1858.0   6.0  ...   NaN   NaN   NaN  NaN
11                 2018      March     2129.0  14.0  ...   NaN   NaN   NaN  NaN
12                 2018      April     2213.0   5.0  ...   NaN   NaN   NaN  NaN
13                 2018        May     2106.0   1.0  ...   NaN   NaN   NaN  NaN
14                 2018       June     2119.0  35.0  ...   NaN   NaN   NaN  NaN
15                 2018       July     2207.0   3.0  ...   NaN   NaN   NaN  NaN
16                 2018     August     2128.0   3.0  ...   NaN   NaN   NaN  NaN
17                 2018  September     1835.0   6.0  ...   NaN   NaN   NaN  NaN
18                 2018    October     1575.0   4.0  ...   NaN   NaN   NaN  NaN
19                 2018   November     1417.0   9.0  ...   NaN   NaN   NaN  NaN
20                 2018   December     1677.0   3.0  ...   NaN   NaN   NaN  NaN
21                 2019    January     1655.0   4.0  ...   NaN   NaN   NaN  NaN
22                 2019   February     1475.0   3.0  ...   NaN   NaN   NaN  NaN
23                 2019      March     1634.0   4.0  ...   NaN   NaN   NaN  NaN
24                 2019      April     1444.0   3.0  ...   NaN   NaN   NaN  NaN
25                 2019        May     1821.0   1.0  ...   NaN   NaN   NaN  NaN
26                 2019       June     2116.0   4.0  ...   NaN   NaN   NaN  NaN
27                 2019       July     2267.0   3.0  ...   NaN   NaN   NaN  NaN
28                 2019     August     2173.0   3.0  ...   NaN   NaN   NaN  NaN
29                 2019  September     1954.0   5.0  ...   NaN   NaN   NaN  NaN
30                 2019    October     1570.0   1.0  ...   NaN   NaN   NaN  NaN
31                 2019   November     1800.0   2.0  ...   NaN   NaN   NaN  NaN
32                 2019   December     2131.0   2.0  ...   NaN   NaN   NaN  NaN
33                 2020    January     2303.0   6.0  ...   NaN   NaN   NaN  NaN
34                 2020   February     1842.0   2.0  ...   NaN   NaN   NaN  NaN
35                 2020      March     1407.0   4.0  ...   NaN   NaN   NaN  NaN
36                 2020      April     1219.0   9.0  ...   NaN   NaN   NaN  NaN
37                 2020        May     1782.0  16.0  ...   NaN   NaN   NaN  NaN
38                 2020       June     2372.0  10.0  ...   NaN   NaN   NaN  NaN
39                 2020       July     3191.0   9.0  ...   NaN   NaN   NaN  NaN
40                 2020     August     3658.0   9.0  ...   NaN   NaN   NaN  NaN
41                 2020  September     3722.0   9.0  ...   NaN   NaN   NaN  NaN
42                 2020    October     3509.0   5.0  ...   NaN   NaN   NaN  NaN
43                 2020   November     3382.0   9.0  ...   NaN   NaN   NaN  NaN
44                 2020   December     3854.0  11.0  ...   NaN   NaN   NaN  NaN
45                 2021    January     4418.0  15.0  ...   NaN   NaN   NaN  NaN
46                 2021   February     3605.0  10.0  ...   NaN   NaN   NaN  NaN
47                 2021      March     4197.0   9.0  ...   NaN   NaN   NaN  NaN
48                 2021      April     4095.0   9.0  ...   NaN   NaN   NaN  NaN
49                 2021        May     4707.0   NaN  ...   NaN   NaN   NaN  NaN
50                 2021       June     1050.0   NaN  ...   NaN   NaN   NaN  NaN

[51 rows x 53 columns]

In [ ]:
columns_2=[]
columns_2.append('Year')
columns_2.append('Month')
columns_2.append('Total')

max_value=df['Diff_in_months'].max()
print(columns_2,end='\n')
print(max_value)


for i in range(1, max_value+1):
  columns_2.append("M"+str(i))
columns_2

['Year', 'Month', 'Total']
50

['Year',
 'Month',
 'Total',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'M10',
 'M11',
 'M12',
 'M13',
 'M14',
 'M15',
 'M16',
 'M17',
 'M18',
 'M19',
 'M20',
 'M21',
 'M22',
 'M23',
 'M24',
 'M25',
 'M26',
 'M27',
 'M28',
 'M29',
 'M30',
 'M31',
 'M32',
 'M33',
 'M34',
 'M35',
 'M36',
 'M37',
 'M38',
 'M39',
 'M40',
 'M41',
 'M42',
 'M43',
 'M44',
 'M45',
 'M46',
 'M47',
 'M48',
 'M49',
 'M50']

In [ ]:
df_final_tran.columns=[col for col in columns_2]
df_final_tran

    Year      Month   Total    M1     M2  ...   M46   M47   M48   M49  M50
0   2017      April  1378.0   2.0   70.0  ...  17.0  25.0  21.0  25.0  5.0
1   2017        May  1459.0   6.0   38.0  ...  32.0  23.0  25.0   7.0  NaN
2   2017       June  1681.0   7.0   50.0  ...  17.0  36.0   8.0   NaN  NaN
3   2017       July  1618.0   5.0   73.0  ...  35.0   3.0   NaN   NaN  NaN
4   2017     August  1634.0   6.0   75.0  ...   8.0   NaN   NaN   NaN  NaN
5   2017  September  1677.0   5.0   61.0  ...   NaN   NaN   NaN   NaN  NaN
6   2017    October  1567.0   2.0  136.0  ...   NaN   NaN   NaN   NaN  NaN
7   2017   November  1810.0   5.0   74.0  ...   NaN   NaN   NaN   NaN  NaN
8   2017   December  1810.0   3.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
9   2018    January  1920.0   1.0  103.0  ...   NaN   NaN   NaN   NaN  NaN
10  2018   February  1858.0   6.0   74.0  ...   NaN   NaN   NaN   NaN  NaN
11  2018      March  2129.0  14.0   80.0  ...   NaN   NaN   NaN   NaN  NaN
12  2018      April  2213.0   5.0   91.0  ...   NaN   NaN   NaN   NaN  NaN
13  2018        May  2106.0   1.0  157.0  ...   NaN   NaN   NaN   NaN  NaN
14  2018       June  2119.0  35.0  110.0  ...   NaN   NaN   NaN   NaN  NaN
15  2018       July  2207.0   3.0  123.0  ...   NaN   NaN   NaN   NaN  NaN
16  2018     August  2128.0   3.0  112.0  ...   NaN   NaN   NaN   NaN  NaN
17  2018  September  1835.0   6.0   65.0  ...   NaN   NaN   NaN   NaN  NaN
18  2018    October  1575.0   4.0   70.0  ...   NaN   NaN   NaN   NaN  NaN
19  2018   November  1417.0   9.0   40.0  ...   NaN   NaN   NaN   NaN  NaN
20  2018   December  1677.0   3.0   41.0  ...   NaN   NaN   NaN   NaN  NaN
21  2019    January  1655.0   4.0   34.0  ...   NaN   NaN   NaN   NaN  NaN
22  2019   February  1475.0   3.0   55.0  ...   NaN   NaN   NaN   NaN  NaN
23  2019      March  1634.0   4.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
24  2019      April  1444.0   3.0   36.0  ...   NaN   NaN   NaN   NaN  NaN
25  2019        May  1821.0   1.0   26.0  ...   NaN   NaN   NaN   NaN  NaN
26  2019       June  2116.0   4.0   40.0  ...   NaN   NaN   NaN   NaN  NaN
27  2019       July  2267.0   3.0   62.0  ...   NaN   NaN   NaN   NaN  NaN
28  2019     August  2173.0   3.0   58.0  ...   NaN   NaN   NaN   NaN  NaN
29  2019  September  1954.0   5.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
30  2019    October  1570.0   1.0   25.0  ...   NaN   NaN   NaN   NaN  NaN
31  2019   November  1800.0   2.0   35.0  ...   NaN   NaN   NaN   NaN  NaN
32  2019   December  2131.0   2.0   41.0  ...   NaN   NaN   NaN   NaN  NaN
33  2020    January  2303.0   6.0   18.0  ...   NaN   NaN   NaN   NaN  NaN
34  2020   February  1842.0   2.0    9.0  ...   NaN   NaN   NaN   NaN  NaN
35  2020      March  1407.0   4.0    8.0  ...   NaN   NaN   NaN   NaN  NaN
36  2020      April  1219.0   9.0   10.0  ...   NaN   NaN   NaN   NaN  NaN
37  2020        May  1782.0  16.0   38.0  ...   NaN   NaN   NaN   NaN  NaN
38  2020       June  2372.0  10.0   80.0  ...   NaN   NaN   NaN   NaN  NaN
39  2020       July  3191.0   9.0  143.0  ...   NaN   NaN   NaN   NaN  NaN
40  2020     August  3658.0   9.0  304.0  ...   NaN   NaN   NaN   NaN  NaN
41  2020  September  3722.0   9.0  272.0  ...   NaN   NaN   NaN   NaN  NaN
42  2020    October  3509.0   5.0  266.0  ...   NaN   NaN   NaN   NaN  NaN
43  2020   November  3382.0   9.0   65.0  ...   NaN   NaN   NaN   NaN  NaN
44  2020   December  3854.0  11.0  195.0  ...   NaN   NaN   NaN   NaN  NaN
45  2021    January  4418.0  15.0  179.0  ...   NaN   NaN   NaN   NaN  NaN
46  2021   February  3605.0  10.0  139.0  ...   NaN   NaN   NaN   NaN  NaN
47  2021      March  4197.0   9.0  260.0  ...   NaN   NaN   NaN   NaN  NaN
48  2021      April  4095.0   9.0    NaN  ...   NaN   NaN   NaN   NaN  NaN
49  2021        May  4707.0   NaN    NaN  ...   NaN   NaN   NaN   NaN  NaN
50  2021       June  1050.0   NaN    NaN  ...   NaN   NaN   NaN   NaN  NaN

[51 rows x 53 columns]

In [ ]:
df1=df[df['Occurence']==1]


pivot_tran_Occ_1= df1.pivot_table(index=['YearOfFt','MonthOfFt'], columns=['Diff_in_months'],values=['trainee_ID'], aggfunc='count')
pivot_tran_Occ_1=pivot_tran_Occ_1.reindex(months,level=1)
pivot_tran_Occ_1=pivot_tran_Occ_1.reset_index()
pivot_tran_Occ_1

               YearOfFt  MonthOfFt trainee_ID
Diff_in_months                              0
0                  2017      April       1373
1                  2017        May       1457
2                  2017       June       1679
3                  2017       July       1598
4                  2017     August       1629
5                  2017  September       1671
6                  2017    October       1562
7                  2017   November       1794
8                  2017   December       1806
9                  2018    January       1919
10                 2018   February       1835
11                 2018      March       2097
12                 2018      April       2204
13                 2018        May       2093
14                 2018       June       2118
15                 2018       July       2204
16                 2018     August       2121
17                 2018  September       1827
18                 2018    October       1572
19                 2018   November       1417
20                 2018   December       1674
21                 2019    January       1652
22                 2019   February       1474
23                 2019      March       1632
24                 2019      April       1441
25                 2019        May       1819
26                 2019       June       2112
27                 2019       July       2260
28                 2019     August       2171
29                 2019  September       1951
30                 2019    October       1567
31                 2019   November       1797
32                 2019   December       2128
33                 2020    January       2301
34                 2020   February       1833
35                 2020      March       1402
36                 2020      April       1211
37                 2020        May       1771
38                 2020       June       2363
39                 2020       July       3176
40                 2020     August       3652
41                 2020  September       3701
42                 2020    October       3500
43                 2020   November       3366
44                 2020   December       3842
45                 2021    January       4407
46                 2021   February       3596
47                 2021      March       4191
48                 2021      April       4088
49                 2021        May       4697
50                 2021       June       1050

In [ ]:
columns=['Year','Month','Fresh']

pivot_tran_Occ_1.columns=[col for col in columns]
pivot_tran_Occ_1=pd.DataFrame(pivot_tran_Occ_1)
pivot_tran_Occ_1

    Year      Month  Fresh
0   2017      April   1373
1   2017        May   1457
2   2017       June   1679
3   2017       July   1598
4   2017     August   1629
5   2017  September   1671
6   2017    October   1562
7   2017   November   1794
8   2017   December   1806
9   2018    January   1919
10  2018   February   1835
11  2018      March   2097
12  2018      April   2204
13  2018        May   2093
14  2018       June   2118
15  2018       July   2204
16  2018     August   2121
17  2018  September   1827
18  2018    October   1572
19  2018   November   1417
20  2018   December   1674
21  2019    January   1652
22  2019   February   1474
23  2019      March   1632
24  2019      April   1441
25  2019        May   1819
26  2019       June   2112
27  2019       July   2260
28  2019     August   2171
29  2019  September   1951
30  2019    October   1567
31  2019   November   1797
32  2019   December   2128
33  2020    January   2301
34  2020   February   1833
35  2020      March   1402
36  2020      April   1211
37  2020        May   1771
38  2020       June   2363
39  2020       July   3176
40  2020     August   3652
41  2020  September   3701
42  2020    October   3500
43  2020   November   3366
44  2020   December   3842
45  2021    January   4407
46  2021   February   3596
47  2021      March   4191
48  2021      April   4088
49  2021        May   4697
50  2021       June   1050

In [ ]:
res=pivot_tran_Occ_1['Fresh'].tolist()

df_final_tran.insert(loc=3, column='Fresh', value=res)
df_final_tran

    Year      Month   Total  Fresh    M1  ...   M46   M47   M48   M49  M50
0   2017      April  1378.0   1373   2.0  ...  17.0  25.0  21.0  25.0  5.0
1   2017        May  1459.0   1457   6.0  ...  32.0  23.0  25.0   7.0  NaN
2   2017       June  1681.0   1679   7.0  ...  17.0  36.0   8.0   NaN  NaN
3   2017       July  1618.0   1598   5.0  ...  35.0   3.0   NaN   NaN  NaN
4   2017     August  1634.0   1629   6.0  ...   8.0   NaN   NaN   NaN  NaN
5   2017  September  1677.0   1671   5.0  ...   NaN   NaN   NaN   NaN  NaN
6   2017    October  1567.0   1562   2.0  ...   NaN   NaN   NaN   NaN  NaN
7   2017   November  1810.0   1794   5.0  ...   NaN   NaN   NaN   NaN  NaN
8   2017   December  1810.0   1806   3.0  ...   NaN   NaN   NaN   NaN  NaN
9   2018    January  1920.0   1919   1.0  ...   NaN   NaN   NaN   NaN  NaN
10  2018   February  1858.0   1835   6.0  ...   NaN   NaN   NaN   NaN  NaN
11  2018      March  2129.0   2097  14.0  ...   NaN   NaN   NaN   NaN  NaN
12  2018      April  2213.0   2204   5.0  ...   NaN   NaN   NaN   NaN  NaN
13  2018        May  2106.0   2093   1.0  ...   NaN   NaN   NaN   NaN  NaN
14  2018       June  2119.0   2118  35.0  ...   NaN   NaN   NaN   NaN  NaN
15  2018       July  2207.0   2204   3.0  ...   NaN   NaN   NaN   NaN  NaN
16  2018     August  2128.0   2121   3.0  ...   NaN   NaN   NaN   NaN  NaN
17  2018  September  1835.0   1827   6.0  ...   NaN   NaN   NaN   NaN  NaN
18  2018    October  1575.0   1572   4.0  ...   NaN   NaN   NaN   NaN  NaN
19  2018   November  1417.0   1417   9.0  ...   NaN   NaN   NaN   NaN  NaN
20  2018   December  1677.0   1674   3.0  ...   NaN   NaN   NaN   NaN  NaN
21  2019    January  1655.0   1652   4.0  ...   NaN   NaN   NaN   NaN  NaN
22  2019   February  1475.0   1474   3.0  ...   NaN   NaN   NaN   NaN  NaN
23  2019      March  1634.0   1632   4.0  ...   NaN   NaN   NaN   NaN  NaN
24  2019      April  1444.0   1441   3.0  ...   NaN   NaN   NaN   NaN  NaN
25  2019        May  1821.0   1819   1.0  ...   NaN   NaN   NaN   NaN  NaN
26  2019       June  2116.0   2112   4.0  ...   NaN   NaN   NaN   NaN  NaN
27  2019       July  2267.0   2260   3.0  ...   NaN   NaN   NaN   NaN  NaN
28  2019     August  2173.0   2171   3.0  ...   NaN   NaN   NaN   NaN  NaN
29  2019  September  1954.0   1951   5.0  ...   NaN   NaN   NaN   NaN  NaN
30  2019    October  1570.0   1567   1.0  ...   NaN   NaN   NaN   NaN  NaN
31  2019   November  1800.0   1797   2.0  ...   NaN   NaN   NaN   NaN  NaN
32  2019   December  2131.0   2128   2.0  ...   NaN   NaN   NaN   NaN  NaN
33  2020    January  2303.0   2301   6.0  ...   NaN   NaN   NaN   NaN  NaN
34  2020   February  1842.0   1833   2.0  ...   NaN   NaN   NaN   NaN  NaN
35  2020      March  1407.0   1402   4.0  ...   NaN   NaN   NaN   NaN  NaN
36  2020      April  1219.0   1211   9.0  ...   NaN   NaN   NaN   NaN  NaN
37  2020        May  1782.0   1771  16.0  ...   NaN   NaN   NaN   NaN  NaN
38  2020       June  2372.0   2363  10.0  ...   NaN   NaN   NaN   NaN  NaN
39  2020       July  3191.0   3176   9.0  ...   NaN   NaN   NaN   NaN  NaN
40  2020     August  3658.0   3652   9.0  ...   NaN   NaN   NaN   NaN  NaN
41  2020  September  3722.0   3701   9.0  ...   NaN   NaN   NaN   NaN  NaN
42  2020    October  3509.0   3500   5.0  ...   NaN   NaN   NaN   NaN  NaN
43  2020   November  3382.0   3366   9.0  ...   NaN   NaN   NaN   NaN  NaN
44  2020   December  3854.0   3842  11.0  ...   NaN   NaN   NaN   NaN  NaN
45  2021    January  4418.0   4407  15.0  ...   NaN   NaN   NaN   NaN  NaN
46  2021   February  3605.0   3596  10.0  ...   NaN   NaN   NaN   NaN  NaN
47  2021      March  4197.0   4191   9.0  ...   NaN   NaN   NaN   NaN  NaN
48  2021      April  4095.0   4088   9.0  ...   NaN   NaN   NaN   NaN  NaN
49  2021        May  4707.0   4697   NaN  ...   NaN   NaN   NaN   NaN  NaN
50  2021       June  1050.0   1050   NaN  ...   NaN   NaN   NaN   NaN  NaN

[51 rows x 54 columns]

In [ ]:
df_final_tran.insert(loc=4, column='M0', value=(df_final_tran['Total']-df_final_tran['Fresh']))
df_final_tran

    Year      Month   Total  Fresh    M0  ...   M46   M47   M48   M49  M50
0   2017      April  1378.0   1373   5.0  ...  17.0  25.0  21.0  25.0  5.0
1   2017        May  1459.0   1457   2.0  ...  32.0  23.0  25.0   7.0  NaN
2   2017       June  1681.0   1679   2.0  ...  17.0  36.0   8.0   NaN  NaN
3   2017       July  1618.0   1598  20.0  ...  35.0   3.0   NaN   NaN  NaN
4   2017     August  1634.0   1629   5.0  ...   8.0   NaN   NaN   NaN  NaN
5   2017  September  1677.0   1671   6.0  ...   NaN   NaN   NaN   NaN  NaN
6   2017    October  1567.0   1562   5.0  ...   NaN   NaN   NaN   NaN  NaN
7   2017   November  1810.0   1794  16.0  ...   NaN   NaN   NaN   NaN  NaN
8   2017   December  1810.0   1806   4.0  ...   NaN   NaN   NaN   NaN  NaN
9   2018    January  1920.0   1919   1.0  ...   NaN   NaN   NaN   NaN  NaN
10  2018   February  1858.0   1835  23.0  ...   NaN   NaN   NaN   NaN  NaN
11  2018      March  2129.0   2097  32.0  ...   NaN   NaN   NaN   NaN  NaN
12  2018      April  2213.0   2204   9.0  ...   NaN   NaN   NaN   NaN  NaN
13  2018        May  2106.0   2093  13.0  ...   NaN   NaN   NaN   NaN  NaN
14  2018       June  2119.0   2118   1.0  ...   NaN   NaN   NaN   NaN  NaN
15  2018       July  2207.0   2204   3.0  ...   NaN   NaN   NaN   NaN  NaN
16  2018     August  2128.0   2121   7.0  ...   NaN   NaN   NaN   NaN  NaN
17  2018  September  1835.0   1827   8.0  ...   NaN   NaN   NaN   NaN  NaN
18  2018    October  1575.0   1572   3.0  ...   NaN   NaN   NaN   NaN  NaN
19  2018   November  1417.0   1417   0.0  ...   NaN   NaN   NaN   NaN  NaN
20  2018   December  1677.0   1674   3.0  ...   NaN   NaN   NaN   NaN  NaN
21  2019    January  1655.0   1652   3.0  ...   NaN   NaN   NaN   NaN  NaN
22  2019   February  1475.0   1474   1.0  ...   NaN   NaN   NaN   NaN  NaN
23  2019      March  1634.0   1632   2.0  ...   NaN   NaN   NaN   NaN  NaN
24  2019      April  1444.0   1441   3.0  ...   NaN   NaN   NaN   NaN  NaN
25  2019        May  1821.0   1819   2.0  ...   NaN   NaN   NaN   NaN  NaN
26  2019       June  2116.0   2112   4.0  ...   NaN   NaN   NaN   NaN  NaN
27  2019       July  2267.0   2260   7.0  ...   NaN   NaN   NaN   NaN  NaN
28  2019     August  2173.0   2171   2.0  ...   NaN   NaN   NaN   NaN  NaN
29  2019  September  1954.0   1951   3.0  ...   NaN   NaN   NaN   NaN  NaN
30  2019    October  1570.0   1567   3.0  ...   NaN   NaN   NaN   NaN  NaN
31  2019   November  1800.0   1797   3.0  ...   NaN   NaN   NaN   NaN  NaN
32  2019   December  2131.0   2128   3.0  ...   NaN   NaN   NaN   NaN  NaN
33  2020    January  2303.0   2301   2.0  ...   NaN   NaN   NaN   NaN  NaN
34  2020   February  1842.0   1833   9.0  ...   NaN   NaN   NaN   NaN  NaN
35  2020      March  1407.0   1402   5.0  ...   NaN   NaN   NaN   NaN  NaN
36  2020      April  1219.0   1211   8.0  ...   NaN   NaN   NaN   NaN  NaN
37  2020        May  1782.0   1771  11.0  ...   NaN   NaN   NaN   NaN  NaN
38  2020       June  2372.0   2363   9.0  ...   NaN   NaN   NaN   NaN  NaN
39  2020       July  3191.0   3176  15.0  ...   NaN   NaN   NaN   NaN  NaN
40  2020     August  3658.0   3652   6.0  ...   NaN   NaN   NaN   NaN  NaN
41  2020  September  3722.0   3701  21.0  ...   NaN   NaN   NaN   NaN  NaN
42  2020    October  3509.0   3500   9.0  ...   NaN   NaN   NaN   NaN  NaN
43  2020   November  3382.0   3366  16.0  ...   NaN   NaN   NaN   NaN  NaN
44  2020   December  3854.0   3842  12.0  ...   NaN   NaN   NaN   NaN  NaN
45  2021    January  4418.0   4407  11.0  ...   NaN   NaN   NaN   NaN  NaN
46  2021   February  3605.0   3596   9.0  ...   NaN   NaN   NaN   NaN  NaN
47  2021      March  4197.0   4191   6.0  ...   NaN   NaN   NaN   NaN  NaN
48  2021      April  4095.0   4088   7.0  ...   NaN   NaN   NaN   NaN  NaN
49  2021        May  4707.0   4697  10.0  ...   NaN   NaN   NaN   NaN  NaN
50  2021       June  1050.0   1050   0.0  ...   NaN   NaN   NaN   NaN  NaN

[51 rows x 55 columns]

In [ ]:
df_final_tran.to_csv('Transaction_cohort_check_3.csv',index=False)

# Unique User Cohort

In [ ]:
df_Occ_2=df[df['Occurence']==2]
pivot_tran_Occ_2 = df_Occ_2.pivot_table(index=['YearOfFt','MonthOfFt'], columns=['Diff_in_months'],values=['trainee_ID'], aggfunc='count')
pivot_tran_Occ_2

                   trainee_ID                      ...
Diff_in_months             0     1      2      3   ...   47   48   49   50
YearOfFt MonthOfFt                                 ...
2017     April            5.0   2.0   70.0  102.0  ...  1.0  1.0  4.0  1.0
         August           5.0   6.0   74.0  116.0  ...  NaN  NaN  NaN  NaN
         December         4.0   3.0   54.0  172.0  ...  NaN  NaN  NaN  NaN
         July            20.0   5.0   70.0  180.0  ...  NaN  NaN  NaN  NaN
         June             2.0   7.0   50.0  169.0  ...  5.0  1.0  NaN  NaN
         May              2.0   6.0   38.0  129.0  ...  5.0  3.0  3.0  NaN
         November        16.0   3.0   73.0  153.0  ...  NaN  NaN  NaN  NaN
         October          5.0   2.0  135.0  116.0  ...  NaN  NaN  NaN  NaN
         September        6.0   5.0   61.0  150.0  ...  NaN  NaN  NaN  NaN
2018     April            8.0   5.0   89.0  232.0  ...  NaN  NaN  NaN  NaN
         August           7.0   3.0  110.0  188.0  ...  NaN  NaN  NaN  NaN
         December         3.0   3.0   41.0  121.0  ...  NaN  NaN  NaN  NaN
         February        20.0   6.0   69.0  153.0  ...  NaN  NaN  NaN  NaN
         January          1.0   1.0  100.0  187.0  ...  NaN  NaN  NaN  NaN
         July             3.0   3.0  122.0  184.0  ...  NaN  NaN  NaN  NaN
         June             1.0  34.0  108.0  211.0  ...  NaN  NaN  NaN  NaN
         March           24.0  13.0   78.0  183.0  ...  NaN  NaN  NaN  NaN
         May             13.0   1.0  157.0  144.0  ...  NaN  NaN  NaN  NaN
         November         NaN   9.0   39.0  132.0  ...  NaN  NaN  NaN  NaN
         October          3.0   4.0   70.0  130.0  ...  NaN  NaN  NaN  NaN
         September        6.0   6.0   65.0  170.0  ...  NaN  NaN  NaN  NaN
2019     April            3.0   3.0   36.0  144.0  ...  NaN  NaN  NaN  NaN
         August           2.0   3.0   58.0  181.0  ...  NaN  NaN  NaN  NaN
         December         3.0   2.0   40.0  149.0  ...  NaN  NaN  NaN  NaN
         February         1.0   3.0   55.0  118.0  ...  NaN  NaN  NaN  NaN
         January          2.0   4.0   34.0  171.0  ...  NaN  NaN  NaN  NaN
         July             7.0   3.0   62.0  213.0  ...  NaN  NaN  NaN  NaN
         June             4.0   4.0   40.0  189.0  ...  NaN  NaN  NaN  NaN
         March            2.0   4.0   54.0  125.0  ...  NaN  NaN  NaN  NaN
         May              2.0   1.0   26.0  220.0  ...  NaN  NaN  NaN  NaN
         November         3.0   2.0   35.0  174.0  ...  NaN  NaN  NaN  NaN
         October          3.0   1.0   25.0  131.0  ...  NaN  NaN  NaN  NaN
         September        3.0   5.0   52.0  162.0  ...  NaN  NaN  NaN  NaN
2020     April            8.0   9.0    9.0  123.0  ...  NaN  NaN  NaN  NaN
         August           6.0   9.0  302.0  446.0  ...  NaN  NaN  NaN  NaN
         December        12.0  11.0  195.0  389.0  ...  NaN  NaN  NaN  NaN
         February         9.0   2.0    9.0  143.0  ...  NaN  NaN  NaN  NaN
         January          2.0   6.0   18.0  161.0  ...  NaN  NaN  NaN  NaN
         July            15.0   9.0  142.0  457.0  ...  NaN  NaN  NaN  NaN
         June             9.0  10.0   78.0  370.0  ...  NaN  NaN  NaN  NaN
         March            5.0   4.0    8.0  158.0  ...  NaN  NaN  NaN  NaN
         May             11.0  16.0   33.0  281.0  ...  NaN  NaN  NaN  NaN
         November        16.0   9.0   65.0  394.0  ...  NaN  NaN  NaN  NaN
         October          9.0   5.0  264.0  329.0  ...  NaN  NaN  NaN  NaN
         September       20.0   9.0  269.0  379.0  ...  NaN  NaN  NaN  NaN
2021     April            7.0   9.0    NaN    NaN  ...  NaN  NaN  NaN  NaN
         February         9.0  10.0  139.0  437.0  ...  NaN  NaN  NaN  NaN
         January         11.0  14.0  179.0  458.0  ...  NaN  NaN  NaN  NaN
         March            6.0   9.0  259.0   71.0  ...  NaN  NaN  NaN  NaN
         May             10.0   NaN    NaN    NaN  ...  NaN  NaN  NaN  NaN

[50 rows x 51 columns]

In [ ]:
months=['January', 'February','March','April','May','June','July','August','September','October','November','December']

df_final_tran=pivot_tran.reindex(months,level=1)

df_final_tran=df_final_tran.reset_index()
df_final_tran

               YearOfFt  MonthOfFt trainee_ID        ...
Diff_in_months                              0     1  ...    47    48    49   50
0                  2017      April     1378.0   2.0  ...  25.0  21.0  25.0  5.0
1                  2017        May     1459.0   6.0  ...  23.0  25.0   7.0  NaN
2                  2017       June     1681.0   7.0  ...  36.0   8.0   NaN  NaN
3                  2017       July     1618.0   5.0  ...   3.0   NaN   NaN  NaN
4                  2017     August     1634.0   6.0  ...   NaN   NaN   NaN  NaN
5                  2017  September     1677.0   5.0  ...   NaN   NaN   NaN  NaN
6                  2017    October     1567.0   2.0  ...   NaN   NaN   NaN  NaN
7                  2017   November     1810.0   5.0  ...   NaN   NaN   NaN  NaN
8                  2017   December     1810.0   3.0  ...   NaN   NaN   NaN  NaN
9                  2018    January     1920.0   1.0  ...   NaN   NaN   NaN  NaN
10                 2018   February     1858.0   6.0  ...   NaN   NaN   NaN  NaN
11                 2018      March     2129.0  14.0  ...   NaN   NaN   NaN  NaN
12                 2018      April     2213.0   5.0  ...   NaN   NaN   NaN  NaN
13                 2018        May     2106.0   1.0  ...   NaN   NaN   NaN  NaN
14                 2018       June     2119.0  35.0  ...   NaN   NaN   NaN  NaN
15                 2018       July     2207.0   3.0  ...   NaN   NaN   NaN  NaN
16                 2018     August     2128.0   3.0  ...   NaN   NaN   NaN  NaN
17                 2018  September     1835.0   6.0  ...   NaN   NaN   NaN  NaN
18                 2018    October     1575.0   4.0  ...   NaN   NaN   NaN  NaN
19                 2018   November     1417.0   9.0  ...   NaN   NaN   NaN  NaN
20                 2018   December     1677.0   3.0  ...   NaN   NaN   NaN  NaN
21                 2019    January     1655.0   4.0  ...   NaN   NaN   NaN  NaN
22                 2019   February     1475.0   3.0  ...   NaN   NaN   NaN  NaN
23                 2019      March     1634.0   4.0  ...   NaN   NaN   NaN  NaN
24                 2019      April     1444.0   3.0  ...   NaN   NaN   NaN  NaN
25                 2019        May     1821.0   1.0  ...   NaN   NaN   NaN  NaN
26                 2019       June     2116.0   4.0  ...   NaN   NaN   NaN  NaN
27                 2019       July     2267.0   3.0  ...   NaN   NaN   NaN  NaN
28                 2019     August     2173.0   3.0  ...   NaN   NaN   NaN  NaN
29                 2019  September     1954.0   5.0  ...   NaN   NaN   NaN  NaN
30                 2019    October     1570.0   1.0  ...   NaN   NaN   NaN  NaN
31                 2019   November     1800.0   2.0  ...   NaN   NaN   NaN  NaN
32                 2019   December     2131.0   2.0  ...   NaN   NaN   NaN  NaN
33                 2020    January     2303.0   6.0  ...   NaN   NaN   NaN  NaN
34                 2020   February     1842.0   2.0  ...   NaN   NaN   NaN  NaN
35                 2020      March     1407.0   4.0  ...   NaN   NaN   NaN  NaN
36                 2020      April     1219.0   9.0  ...   NaN   NaN   NaN  NaN
37                 2020        May     1782.0  16.0  ...   NaN   NaN   NaN  NaN
38                 2020       June     2372.0  10.0  ...   NaN   NaN   NaN  NaN
39                 2020       July     3191.0   9.0  ...   NaN   NaN   NaN  NaN
40                 2020     August     3658.0   9.0  ...   NaN   NaN   NaN  NaN
41                 2020  September     3722.0   9.0  ...   NaN   NaN   NaN  NaN
42                 2020    October     3509.0   5.0  ...   NaN   NaN   NaN  NaN
43                 2020   November     3382.0   9.0  ...   NaN   NaN   NaN  NaN
44                 2020   December     3854.0  11.0  ...   NaN   NaN   NaN  NaN
45                 2021    January     4418.0  15.0  ...   NaN   NaN   NaN  NaN
46                 2021   February     3605.0  10.0  ...   NaN   NaN   NaN  NaN
47                 2021      March     4197.0   9.0  ...   NaN   NaN   NaN  NaN
48                 2021      April     4095.0   9.0  ...   NaN   NaN   NaN  NaN
49                 2021        May     4707.0   NaN  ...   NaN   NaN   NaN  NaN
50                 2021       June     1050.0   NaN  ...   NaN   NaN   NaN  NaN

[51 rows x 53 columns]

In [ ]:
columns_3=[]
columns_3.append('Year')
columns_3.append('Month')
columns_3.append('Total')

max_value=df['Diff_in_months'].max()
print(columns_3,end='\n')
print(max_value)


for i in range(1, max_value+1):
  columns_3.append("M"+str(i))
columns_3

['Year', 'Month', 'Total']
50

['Year',
 'Month',
 'Total',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'M6',
 'M7',
 'M8',
 'M9',
 'M10',
 'M11',
 'M12',
 'M13',
 'M14',
 'M15',
 'M16',
 'M17',
 'M18',
 'M19',
 'M20',
 'M21',
 'M22',
 'M23',
 'M24',
 'M25',
 'M26',
 'M27',
 'M28',
 'M29',
 'M30',
 'M31',
 'M32',
 'M33',
 'M34',
 'M35',
 'M36',
 'M37',
 'M38',
 'M39',
 'M40',
 'M41',
 'M42',
 'M43',
 'M44',
 'M45',
 'M46',
 'M47',
 'M48',
 'M49',
 'M50']

In [ ]:
df_final_tran.columns=[col for col in columns_3]
df_final_tran

    Year      Month   Total    M1     M2  ...   M46   M47   M48   M49  M50
0   2017      April  1378.0   2.0   70.0  ...  17.0  25.0  21.0  25.0  5.0
1   2017        May  1459.0   6.0   38.0  ...  32.0  23.0  25.0   7.0  NaN
2   2017       June  1681.0   7.0   50.0  ...  17.0  36.0   8.0   NaN  NaN
3   2017       July  1618.0   5.0   73.0  ...  35.0   3.0   NaN   NaN  NaN
4   2017     August  1634.0   6.0   75.0  ...   8.0   NaN   NaN   NaN  NaN
5   2017  September  1677.0   5.0   61.0  ...   NaN   NaN   NaN   NaN  NaN
6   2017    October  1567.0   2.0  136.0  ...   NaN   NaN   NaN   NaN  NaN
7   2017   November  1810.0   5.0   74.0  ...   NaN   NaN   NaN   NaN  NaN
8   2017   December  1810.0   3.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
9   2018    January  1920.0   1.0  103.0  ...   NaN   NaN   NaN   NaN  NaN
10  2018   February  1858.0   6.0   74.0  ...   NaN   NaN   NaN   NaN  NaN
11  2018      March  2129.0  14.0   80.0  ...   NaN   NaN   NaN   NaN  NaN
12  2018      April  2213.0   5.0   91.0  ...   NaN   NaN   NaN   NaN  NaN
13  2018        May  2106.0   1.0  157.0  ...   NaN   NaN   NaN   NaN  NaN
14  2018       June  2119.0  35.0  110.0  ...   NaN   NaN   NaN   NaN  NaN
15  2018       July  2207.0   3.0  123.0  ...   NaN   NaN   NaN   NaN  NaN
16  2018     August  2128.0   3.0  112.0  ...   NaN   NaN   NaN   NaN  NaN
17  2018  September  1835.0   6.0   65.0  ...   NaN   NaN   NaN   NaN  NaN
18  2018    October  1575.0   4.0   70.0  ...   NaN   NaN   NaN   NaN  NaN
19  2018   November  1417.0   9.0   40.0  ...   NaN   NaN   NaN   NaN  NaN
20  2018   December  1677.0   3.0   41.0  ...   NaN   NaN   NaN   NaN  NaN
21  2019    January  1655.0   4.0   34.0  ...   NaN   NaN   NaN   NaN  NaN
22  2019   February  1475.0   3.0   55.0  ...   NaN   NaN   NaN   NaN  NaN
23  2019      March  1634.0   4.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
24  2019      April  1444.0   3.0   36.0  ...   NaN   NaN   NaN   NaN  NaN
25  2019        May  1821.0   1.0   26.0  ...   NaN   NaN   NaN   NaN  NaN
26  2019       June  2116.0   4.0   40.0  ...   NaN   NaN   NaN   NaN  NaN
27  2019       July  2267.0   3.0   62.0  ...   NaN   NaN   NaN   NaN  NaN
28  2019     August  2173.0   3.0   58.0  ...   NaN   NaN   NaN   NaN  NaN
29  2019  September  1954.0   5.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
30  2019    October  1570.0   1.0   25.0  ...   NaN   NaN   NaN   NaN  NaN
31  2019   November  1800.0   2.0   35.0  ...   NaN   NaN   NaN   NaN  NaN
32  2019   December  2131.0   2.0   41.0  ...   NaN   NaN   NaN   NaN  NaN
33  2020    January  2303.0   6.0   18.0  ...   NaN   NaN   NaN   NaN  NaN
34  2020   February  1842.0   2.0    9.0  ...   NaN   NaN   NaN   NaN  NaN
35  2020      March  1407.0   4.0    8.0  ...   NaN   NaN   NaN   NaN  NaN
36  2020      April  1219.0   9.0   10.0  ...   NaN   NaN   NaN   NaN  NaN
37  2020        May  1782.0  16.0   38.0  ...   NaN   NaN   NaN   NaN  NaN
38  2020       June  2372.0  10.0   80.0  ...   NaN   NaN   NaN   NaN  NaN
39  2020       July  3191.0   9.0  143.0  ...   NaN   NaN   NaN   NaN  NaN
40  2020     August  3658.0   9.0  304.0  ...   NaN   NaN   NaN   NaN  NaN
41  2020  September  3722.0   9.0  272.0  ...   NaN   NaN   NaN   NaN  NaN
42  2020    October  3509.0   5.0  266.0  ...   NaN   NaN   NaN   NaN  NaN
43  2020   November  3382.0   9.0   65.0  ...   NaN   NaN   NaN   NaN  NaN
44  2020   December  3854.0  11.0  195.0  ...   NaN   NaN   NaN   NaN  NaN
45  2021    January  4418.0  15.0  179.0  ...   NaN   NaN   NaN   NaN  NaN
46  2021   February  3605.0  10.0  139.0  ...   NaN   NaN   NaN   NaN  NaN
47  2021      March  4197.0   9.0  260.0  ...   NaN   NaN   NaN   NaN  NaN
48  2021      April  4095.0   9.0    NaN  ...   NaN   NaN   NaN   NaN  NaN
49  2021        May  4707.0   NaN    NaN  ...   NaN   NaN   NaN   NaN  NaN
50  2021       June  1050.0   NaN    NaN  ...   NaN   NaN   NaN   NaN  NaN

[51 rows x 53 columns]

In [ ]:
df1=df[df['Occurence']==1]


pivot_tran_Occ_1= df1.pivot_table(index=['YearOfFt','MonthOfFt'], columns=['Diff_in_months'],values=['trainee_ID'], aggfunc='count')
pivot_tran_Occ_1=pivot_tran_Occ_1.reindex(months,level=1)
pivot_tran_Occ_1=pivot_tran_Occ_1.reset_index()
pivot_tran_Occ_1

               YearOfFt  MonthOfFt trainee_ID
Diff_in_months                              0
0                  2017      April       1373
1                  2017        May       1457
2                  2017       June       1679
3                  2017       July       1598
4                  2017     August       1629
5                  2017  September       1671
6                  2017    October       1562
7                  2017   November       1794
8                  2017   December       1806
9                  2018    January       1919
10                 2018   February       1835
11                 2018      March       2097
12                 2018      April       2204
13                 2018        May       2093
14                 2018       June       2118
15                 2018       July       2204
16                 2018     August       2121
17                 2018  September       1827
18                 2018    October       1572
19                 2018   November       1417
20                 2018   December       1674
21                 2019    January       1652
22                 2019   February       1474
23                 2019      March       1632
24                 2019      April       1441
25                 2019        May       1819
26                 2019       June       2112
27                 2019       July       2260
28                 2019     August       2171
29                 2019  September       1951
30                 2019    October       1567
31                 2019   November       1797
32                 2019   December       2128
33                 2020    January       2301
34                 2020   February       1833
35                 2020      March       1402
36                 2020      April       1211
37                 2020        May       1771
38                 2020       June       2363
39                 2020       July       3176
40                 2020     August       3652
41                 2020  September       3701
42                 2020    October       3500
43                 2020   November       3366
44                 2020   December       3842
45                 2021    January       4407
46                 2021   February       3596
47                 2021      March       4191
48                 2021      April       4088
49                 2021        May       4697
50                 2021       June       1050

In [ ]:
columns=['Year','Month','Fresh']

pivot_tran_Occ_1.columns=[col for col in columns]
pivot_tran_Occ_1=pd.DataFrame(pivot_tran_Occ_1)
pivot_tran_Occ_1

    Year      Month  Fresh
0   2017      April   1373
1   2017        May   1457
2   2017       June   1679
3   2017       July   1598
4   2017     August   1629
5   2017  September   1671
6   2017    October   1562
7   2017   November   1794
8   2017   December   1806
9   2018    January   1919
10  2018   February   1835
11  2018      March   2097
12  2018      April   2204
13  2018        May   2093
14  2018       June   2118
15  2018       July   2204
16  2018     August   2121
17  2018  September   1827
18  2018    October   1572
19  2018   November   1417
20  2018   December   1674
21  2019    January   1652
22  2019   February   1474
23  2019      March   1632
24  2019      April   1441
25  2019        May   1819
26  2019       June   2112
27  2019       July   2260
28  2019     August   2171
29  2019  September   1951
30  2019    October   1567
31  2019   November   1797
32  2019   December   2128
33  2020    January   2301
34  2020   February   1833
35  2020      March   1402
36  2020      April   1211
37  2020        May   1771
38  2020       June   2363
39  2020       July   3176
40  2020     August   3652
41  2020  September   3701
42  2020    October   3500
43  2020   November   3366
44  2020   December   3842
45  2021    January   4407
46  2021   February   3596
47  2021      March   4191
48  2021      April   4088
49  2021        May   4697
50  2021       June   1050

In [ ]:
res=pivot_tran_Occ_1['Fresh'].tolist()

df_final_tran.insert(loc=3, column='Fresh', value=pd.Series(res))
df_final_tran

    Year      Month   Total  Fresh    M1  ...   M46   M47   M48   M49  M50
0   2017      April  1378.0   1373   2.0  ...  17.0  25.0  21.0  25.0  5.0
1   2017        May  1459.0   1457   6.0  ...  32.0  23.0  25.0   7.0  NaN
2   2017       June  1681.0   1679   7.0  ...  17.0  36.0   8.0   NaN  NaN
3   2017       July  1618.0   1598   5.0  ...  35.0   3.0   NaN   NaN  NaN
4   2017     August  1634.0   1629   6.0  ...   8.0   NaN   NaN   NaN  NaN
5   2017  September  1677.0   1671   5.0  ...   NaN   NaN   NaN   NaN  NaN
6   2017    October  1567.0   1562   2.0  ...   NaN   NaN   NaN   NaN  NaN
7   2017   November  1810.0   1794   5.0  ...   NaN   NaN   NaN   NaN  NaN
8   2017   December  1810.0   1806   3.0  ...   NaN   NaN   NaN   NaN  NaN
9   2018    January  1920.0   1919   1.0  ...   NaN   NaN   NaN   NaN  NaN
10  2018   February  1858.0   1835   6.0  ...   NaN   NaN   NaN   NaN  NaN
11  2018      March  2129.0   2097  14.0  ...   NaN   NaN   NaN   NaN  NaN
12  2018      April  2213.0   2204   5.0  ...   NaN   NaN   NaN   NaN  NaN
13  2018        May  2106.0   2093   1.0  ...   NaN   NaN   NaN   NaN  NaN
14  2018       June  2119.0   2118  35.0  ...   NaN   NaN   NaN   NaN  NaN
15  2018       July  2207.0   2204   3.0  ...   NaN   NaN   NaN   NaN  NaN
16  2018     August  2128.0   2121   3.0  ...   NaN   NaN   NaN   NaN  NaN
17  2018  September  1835.0   1827   6.0  ...   NaN   NaN   NaN   NaN  NaN
18  2018    October  1575.0   1572   4.0  ...   NaN   NaN   NaN   NaN  NaN
19  2018   November  1417.0   1417   9.0  ...   NaN   NaN   NaN   NaN  NaN
20  2018   December  1677.0   1674   3.0  ...   NaN   NaN   NaN   NaN  NaN
21  2019    January  1655.0   1652   4.0  ...   NaN   NaN   NaN   NaN  NaN
22  2019   February  1475.0   1474   3.0  ...   NaN   NaN   NaN   NaN  NaN
23  2019      March  1634.0   1632   4.0  ...   NaN   NaN   NaN   NaN  NaN
24  2019      April  1444.0   1441   3.0  ...   NaN   NaN   NaN   NaN  NaN
25  2019        May  1821.0   1819   1.0  ...   NaN   NaN   NaN   NaN  NaN
26  2019       June  2116.0   2112   4.0  ...   NaN   NaN   NaN   NaN  NaN
27  2019       July  2267.0   2260   3.0  ...   NaN   NaN   NaN   NaN  NaN
28  2019     August  2173.0   2171   3.0  ...   NaN   NaN   NaN   NaN  NaN
29  2019  September  1954.0   1951   5.0  ...   NaN   NaN   NaN   NaN  NaN
30  2019    October  1570.0   1567   1.0  ...   NaN   NaN   NaN   NaN  NaN
31  2019   November  1800.0   1797   2.0  ...   NaN   NaN   NaN   NaN  NaN
32  2019   December  2131.0   2128   2.0  ...   NaN   NaN   NaN   NaN  NaN
33  2020    January  2303.0   2301   6.0  ...   NaN   NaN   NaN   NaN  NaN
34  2020   February  1842.0   1833   2.0  ...   NaN   NaN   NaN   NaN  NaN
35  2020      March  1407.0   1402   4.0  ...   NaN   NaN   NaN   NaN  NaN
36  2020      April  1219.0   1211   9.0  ...   NaN   NaN   NaN   NaN  NaN
37  2020        May  1782.0   1771  16.0  ...   NaN   NaN   NaN   NaN  NaN
38  2020       June  2372.0   2363  10.0  ...   NaN   NaN   NaN   NaN  NaN
39  2020       July  3191.0   3176   9.0  ...   NaN   NaN   NaN   NaN  NaN
40  2020     August  3658.0   3652   9.0  ...   NaN   NaN   NaN   NaN  NaN
41  2020  September  3722.0   3701   9.0  ...   NaN   NaN   NaN   NaN  NaN
42  2020    October  3509.0   3500   5.0  ...   NaN   NaN   NaN   NaN  NaN
43  2020   November  3382.0   3366   9.0  ...   NaN   NaN   NaN   NaN  NaN
44  2020   December  3854.0   3842  11.0  ...   NaN   NaN   NaN   NaN  NaN
45  2021    January  4418.0   4407  15.0  ...   NaN   NaN   NaN   NaN  NaN
46  2021   February  3605.0   3596  10.0  ...   NaN   NaN   NaN   NaN  NaN
47  2021      March  4197.0   4191   9.0  ...   NaN   NaN   NaN   NaN  NaN
48  2021      April  4095.0   4088   9.0  ...   NaN   NaN   NaN   NaN  NaN
49  2021        May  4707.0   4697   NaN  ...   NaN   NaN   NaN   NaN  NaN
50  2021       June  1050.0   1050   NaN  ...   NaN   NaN   NaN   NaN  NaN

[51 rows x 54 columns]

In [ ]:
df_final_tran.drop('Total',axis=1,inplace=True)

In [ ]:
df_final_tran

    Year      Month  Fresh    M1     M2  ...   M46   M47   M48   M49  M50
0   2017      April   1373   2.0   70.0  ...  17.0  25.0  21.0  25.0  5.0
1   2017        May   1457   6.0   38.0  ...  32.0  23.0  25.0   7.0  NaN
2   2017       June   1679   7.0   50.0  ...  17.0  36.0   8.0   NaN  NaN
3   2017       July   1598   5.0   73.0  ...  35.0   3.0   NaN   NaN  NaN
4   2017     August   1629   6.0   75.0  ...   8.0   NaN   NaN   NaN  NaN
5   2017  September   1671   5.0   61.0  ...   NaN   NaN   NaN   NaN  NaN
6   2017    October   1562   2.0  136.0  ...   NaN   NaN   NaN   NaN  NaN
7   2017   November   1794   5.0   74.0  ...   NaN   NaN   NaN   NaN  NaN
8   2017   December   1806   3.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
9   2018    January   1919   1.0  103.0  ...   NaN   NaN   NaN   NaN  NaN
10  2018   February   1835   6.0   74.0  ...   NaN   NaN   NaN   NaN  NaN
11  2018      March   2097  14.0   80.0  ...   NaN   NaN   NaN   NaN  NaN
12  2018      April   2204   5.0   91.0  ...   NaN   NaN   NaN   NaN  NaN
13  2018        May   2093   1.0  157.0  ...   NaN   NaN   NaN   NaN  NaN
14  2018       June   2118  35.0  110.0  ...   NaN   NaN   NaN   NaN  NaN
15  2018       July   2204   3.0  123.0  ...   NaN   NaN   NaN   NaN  NaN
16  2018     August   2121   3.0  112.0  ...   NaN   NaN   NaN   NaN  NaN
17  2018  September   1827   6.0   65.0  ...   NaN   NaN   NaN   NaN  NaN
18  2018    October   1572   4.0   70.0  ...   NaN   NaN   NaN   NaN  NaN
19  2018   November   1417   9.0   40.0  ...   NaN   NaN   NaN   NaN  NaN
20  2018   December   1674   3.0   41.0  ...   NaN   NaN   NaN   NaN  NaN
21  2019    January   1652   4.0   34.0  ...   NaN   NaN   NaN   NaN  NaN
22  2019   February   1474   3.0   55.0  ...   NaN   NaN   NaN   NaN  NaN
23  2019      March   1632   4.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
24  2019      April   1441   3.0   36.0  ...   NaN   NaN   NaN   NaN  NaN
25  2019        May   1819   1.0   26.0  ...   NaN   NaN   NaN   NaN  NaN
26  2019       June   2112   4.0   40.0  ...   NaN   NaN   NaN   NaN  NaN
27  2019       July   2260   3.0   62.0  ...   NaN   NaN   NaN   NaN  NaN
28  2019     August   2171   3.0   58.0  ...   NaN   NaN   NaN   NaN  NaN
29  2019  September   1951   5.0   54.0  ...   NaN   NaN   NaN   NaN  NaN
30  2019    October   1567   1.0   25.0  ...   NaN   NaN   NaN   NaN  NaN
31  2019   November   1797   2.0   35.0  ...   NaN   NaN   NaN   NaN  NaN
32  2019   December   2128   2.0   41.0  ...   NaN   NaN   NaN   NaN  NaN
33  2020    January   2301   6.0   18.0  ...   NaN   NaN   NaN   NaN  NaN
34  2020   February   1833   2.0    9.0  ...   NaN   NaN   NaN   NaN  NaN
35  2020      March   1402   4.0    8.0  ...   NaN   NaN   NaN   NaN  NaN
36  2020      April   1211   9.0   10.0  ...   NaN   NaN   NaN   NaN  NaN
37  2020        May   1771  16.0   38.0  ...   NaN   NaN   NaN   NaN  NaN
38  2020       June   2363  10.0   80.0  ...   NaN   NaN   NaN   NaN  NaN
39  2020       July   3176   9.0  143.0  ...   NaN   NaN   NaN   NaN  NaN
40  2020     August   3652   9.0  304.0  ...   NaN   NaN   NaN   NaN  NaN
41  2020  September   3701   9.0  272.0  ...   NaN   NaN   NaN   NaN  NaN
42  2020    October   3500   5.0  266.0  ...   NaN   NaN   NaN   NaN  NaN
43  2020   November   3366   9.0   65.0  ...   NaN   NaN   NaN   NaN  NaN
44  2020   December   3842  11.0  195.0  ...   NaN   NaN   NaN   NaN  NaN
45  2021    January   4407  15.0  179.0  ...   NaN   NaN   NaN   NaN  NaN
46  2021   February   3596  10.0  139.0  ...   NaN   NaN   NaN   NaN  NaN
47  2021      March   4191   9.0  260.0  ...   NaN   NaN   NaN   NaN  NaN
48  2021      April   4088   9.0    NaN  ...   NaN   NaN   NaN   NaN  NaN
49  2021        May   4697   NaN    NaN  ...   NaN   NaN   NaN   NaN  NaN
50  2021       June   1050   NaN    NaN  ...   NaN   NaN   NaN   NaN  NaN

[51 rows x 53 columns]

In [ ]:
df_final_tran.to_csv('Unique_user.csv',index=False)